body {
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  #infographic-dropdown {
    display: none;
  }
}

button {
  background: none;
  outline: none !important;
}

.will-v-flip {
  transition: transform 0.5s;
}

.v-flip {
  transform: rotate(-180deg);
  transition: transform 0.5s;
}

.will-collapse {
  max-height: 1000px;
  transition: opacity 0.5s 0.5s, max-height 1s;
}

.is-collapsed {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s, max-height 1s;
}

.rounded-border {
  border-radius: 1em;
}

.slider {
  width: 100% !important;
}

.slider-tick {
  width: 0.25em !important;
  border-radius: 0.1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.slider-handle {
  border: 0.2em solid white !important;
}

.slider-handle, .tick-slider-selection, .in-selection {
  background-image: linear-gradient(to bottom, #5FB021 0, #288000 100%) !important;
  background-image: -webkit-linear-gradient(top, #5FB021 0, #288000 100%) !important;
  background-image: -o-linear-gradient(top, #5FB021 0, #288000 100%) !important;
}

.dropdown-disabled, .dropdown-disabled * {
  opacity: 0.7 !important;
}

.dropdown-disabled button {
  cursor: not-allowed;
}

.canned-title {
  font-size: 0.8em;
}

#infographic-dropdown * {
  color: white !important;
}

#sidebar {
  padding: 2em;
  width: 25em;
}

#sidebar * {
  color: black !important;
}

#sidebar input::placeholder {
  color: #9FD07A;
}

#canned-searches .card, #search-results .card {
  box-shadow: 0 0.1em 0.5em 0.1em rgba(100, 100, 100, 0.3);
}

#canned-searches .card:hover, #search-results .card:hover {
  background: #DFEFD3 !important;
}

#canned-searches .card a:hover, #search-results .card a:hover {
  text-decoration: none;
}

#canned-searches .card-text, #search-results .card-text, .canned-title {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  font-size: 0.7em;
  color: #1E352F !important;
}