body {
  padding: 0;
  margin: 0;
}

#react-header {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 10000;
}

#site-header {
  background-size: 100% 100%;
  box-shadow: 0 0.5em 1em rgba(100, 100, 100, 0.5);

  height: 8em;
  padding-top: 4em;
  transition: height 0.5s, padding-top 0.5s;
}

.site-header-scroll {
  height: 4em !important;
  padding-top: 0 !important;
  transition: height 0.5s, padding-top 0.5s;
}

#site-header .navbar-toggler {
  background-color: rgba(92, 140, 52, 1);
}

#site-header .nav-link {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: white !important;
}

#site-header .dropdown-toggle::after {
  display: none;
}

#site-header .header-button {
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

#site-header-dropdowns .dropdown-toggle:hover, #site-header-dropdowns .dropdown-toggle:focus, .header-button:hover {
  background: #DFEFD3 !important;
  color: black !important;
  border-radius: 0.5em;
}

#site-header-dropdowns .show .dropdown-toggle, .dropdown-item {
  color: black !important;
}

#site-header-dropdowns .dropdown-menu {
  background: #5FB021 !important;
  color: black !important;
}

#site-header-dropdowns .dropdown-menu .dropdown-item:hover, .dropdown-item:focus {
  background: #DFEFD3 !important;
}

#site-header-logo {
  margin-left: 4em;
  border: 0.5em solid rgba(255, 255, 255, 0.2);
}

#site-header-dropdowns {
  text-transform: uppercase;
  font-weight: bold;
}

#site-header-dropdowns ul {
  text-align: center;
  margin-right: auto;
}

#site-header-dropdowns li {
  margin-left: 1em;
  margin-right: 1em;
}

#quick-search {
  margin-top: auto;
  margin-bottom: auto;
}

#search-btn {
  width: 2em;
  height: 2em;

  margin-left: 0.5em;
  padding: 0.2em;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
