
/* Modify styles within this file to override styles within base.css file
 * 
 **/


html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{
	margin : 0;
	width : auto;
	background-color : transparent;
	color : black;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {
	display: none;
}
a {
	background-color: transparent;
}
a:active, a:hover {
	outline: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: 600;
}
dfn {
	font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}
h1 {
	font-size: 28px;
	margin: 0 0 12px 0;
}
h2 {
	font-size: 26px;
	margin: 0 0 12px 0;
}
h3 {
	font-size: 24px;
	margin: 0 0 12px 0;
}
h4 {
	font-size: 20px;
	margin: 0 0 10px 0;
}
h5 {
	font-size: 18px;
	margin: 0 0 10px 0;
}
h5 {
	font-size: 16px;
	margin: 0 0 0.67em 0;
}
p {
	padding: 0;
	margin: 0 0 10px 0;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	padding: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	overflow-y: scroll;
}
*, *:before, *:after {
	box-sizing: inherit;
}

img, object, embed, video {
	max-width: 100%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* close commented backslash hack */




img {
	max-width: 100%;
	height: auto;
}
img.bordered {
	border: 2px solid white;
}

img.image-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
img.image-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.caption {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	padding-top: 5px;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.content-wrapper {
	width: auto;
}
.inner-content {
	max-width: 1100px;
	margin: 0 auto;
}
.garden-content {
	max-width: 1100px;
	margin: 0 auto;
}
/* responsive videos */
.video-wrapper {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* square bullets */
ul.square-bullets {
	padding: 0 10px 0 40px;
	overflow:hidden;
	margin-left: 0;
}
.square-bullets li {
	list-style: none;
	margin-bottom: 10px;
}
.square-bullets li::before {
	color: #74B147;
	content: "\f04d";
	font-family: FontAwesome, sans-serif;
	float: left;
	font-size: 14px;
	margin: 5px -20px;
	width: 15px;
}
.square-bullets.purple-bullets li::before {
	color: #4E1E97;
}
.square-bullets.white-bullets li::before {
	color: #ffffff;
}



/* home boxes */
.home-boxes {
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.home-boxes a:hover {
	text-decoration: none;
}
.home-box {
	flex: 0 1 calc(33% - 20px);
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.home-box img {
	display: block;
	width: 100%;
}
.home-box h3 {
	font-size: 24px;
	color: #ffffff;
	padding: 5px 10px;
	margin: 0;
	background: green;
	text-align: center;
	white-space: nowrap;
}
.mapping-box h3 {
	background: rgb(176, 78, 44);
}
.key-box h3 {
	background: rgb(30, 151, 57);
}
.image-box h3 {
	background: rgb(116, 177, 71);
}
.herbarium-box h3 {
	background: rgb(60, 100, 30);
}
.plant-box h3 {
	background: rgb(167, 18, 176);
}
.garden-box h3 {
	background: rgb(78, 30, 151);
}
.box-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -500px;
	right: 500px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	overflow: hidden;
	transition: all 400ms;
	transition-timing-function: ease-in-out;
}
.mapping-box .box-overlay {
	background: rgba(176, 78, 44, 0.75);
}
.key-box .box-overlay {
	background: rgba(30, 151, 57, 0.75);
}
.image-box .box-overlay {
	background: rgba(116, 177, 7, 0.751);
}
.herbarium-box .box-overlay {
	background: rgba(60, 100, 30, 0.75);
}
.plant-box .box-overlay {
	background: rgba(167, 18, 176, 0.756);
}
.garden-box .box-overlay {
	background: rgba(78, 30, 151, 0.75);
}
.home-box:hover .box-overlay {
	left: 0;
	right: 0;
}
.centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
/* end home boxes */

/* Whois section */
.whois-wrapper {
	background: url("../images/layout/whois-bg.jpg") no-repeat;
	background-size: cover;
	padding: 20px;
	color: #ffffff;
}
.whois-wrapper .inner-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.whois-wrapper .col1 {
	width: 40%;
	padding-right: 20px;
}
.whois-wrapper .col2 {
	width: 60%;
	padding-left: 30px;
}
.whois-wrapper h2 {
	font-size: 30px;
	color: #ffffff;
}
.whois-wrapper .bx-wrapper {
	margin-bottom: 0;
}
.whois-wrapper .bx-pager {
	display: none;
}
/* end whois section */


/* welcome section */
.welcome-wrapper {
	padding: 30px 20px;
}
.welcome-wrapper .inner-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.welcome-wrapper .col1 {
	width: 40%;
	padding-right: 20px;
}
.welcome-wrapper .col2 {
	width: 60%;
	padding-left: 30px;
}
.welcome-wrapper h2 {
	color: #4e1e97;
	font-size: 30px;
}
/* end welcome section */


/* garden section */
.garden-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.garden-wrapper .col1 {
	flex: 1;
	background: url("../images/layout/garden-with-natives-bg.jpg") no-repeat;
	background-size: cover;
}
.garden-wrapper .col2 {
	flex: 1;
	padding: 20px 30px;
	background: #4e1e97;
	color: #ffffff;
}
.garden-wrapper .col2 .col-content {
	max-width: 550px;
}
.garden-wrapper h2 {
	color: #ffffff;
	font-size: 30px;
}
/* end garden section */

/* news section */
.news-wrapper {
	padding: 40px 20px;
}
.news-wrapper .inner-content {
	display: flex;
	flex-wrap: wrap;
}
.news-wrapper .col1 {
	width: 30%;
}
.news-wrapper .col2 {
	width: 70%;
	padding-left: 30px;
}
.news-wrapper h2 {
	font-size: 30px;
}
/* end news section */

/* books section */
.books-wrapper {
	background: #b04e2c;
	color: #ffffff;
	padding: 20px;
}
.books-wrapper .col-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.books-wrapper .our-books {
	width: 60%;
	padding-right: 10px;
	border-right: 1px solid white;
}
.our-books .vol1 {
	width: 50%;
	float: left;
	padding-right: 10px;
}
.our-books .vol2 {
	width: 50%;
	float: left;
	padding-right: 10px;
}
.our-books p {
	padding-top: 10px;
	clear: both;
}
.our-books strong {
	display: block;
}
.books-wrapper .our-app {
	width: 40%;
	padding-left: 20px;
}
.books-wrapper h2 {
	display: block;
	font-size: 30px;
}
.books-wrapper .btn {
	background: #ffffff;
	color: #b04e2c;
	overflow: hidden;
}
.books-wrapper .btn:hover {
	color: #B04E2C;
}
.our-app div {
	overflow: hidden;
}
/* end books section */



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-wrapper {
	position: relative;
	border-bottom: 1px solid #CCC;
}
.main-header {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}
.content-wrapper {
}
.content-wrapper:before{
	content: ' ';
	box-shadow: inset 0 40px 40px -40px rgba(0,0,0,0.9);
	position: absolute;
	z-index: 10;
	height: 40px;
	width: 100%;
}
.header-logo {
	position: relative;
	top: -35px;
	float: left;
	width: 105px;
	height: 112px;
}
.header-logo img {
	border: 10px solid white;
	display: block;
}
.main-navigation {
}
.search-wrapper {
	padding: 20px 20px 0 20px;
	text-align: right;
}
.search-wrapper #quicksearch {
	background: url("../images/layout/quicksearch-bg.jpg") top right no-repeat;
	background-size: cover;
	padding: 10px;
	display: inline-block;
}
.search-wrapper #quicksearch input {
	border: 1px solid #531D94;
	width: 200px;
	padding: 5px;
}
.search-wrapper #quicksearch button {
	background: #3C641E;
	padding: 6px 8px;
	color: white;
	border: 1px solid white;
}
.search-wrapper #quicksearchtext {
	text-align: left;
	color: #ffffff;
}

/*--------------------------------------------------------------
# Menus
--------------------------------------------------------------*/
/* top menu */
.top-menu {
	max-width: 1100px;
	margin: 0 auto;
}
.top-menu-container {
	background-color: #74B247;
	position: relative;
	padding: 8px 15px;
	text-align:right;
}
.top-menu-container ul {
	margin: 0;
	padding: 0;
	display: inline-block;

}
.top-menu-container ul li {
	display: inline-block;
	margin-bottom: 0;

}
.top-menu-container ul li a {
	color: white;
	position: relative;
	padding: 0 5px 0 5px;
	border-right: 1px solid white;

}
.top-menu-container ul li:last-child a {
	border: none;

}
.top-menu-container ul li a:hover {
	text-decoration: none;

}
.top-menu-container ul li a:hover:before {
	color: #000;
	text-decoration: none;

}
/* main menu */
.main-navigation {
	margin-top: -40px;
}
.main-navigation.at-top {
	width: 100%;
	background: lightgrey;
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 10;
	transition: all 0.8s;
}
.main-navigation.at-top .nav-menu {
	max-width: 1100px;
	margin: 0 auto;
}
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	position: relative;
	margin-bottom: 0;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color: #531D94;
	font-weight: bold;
	font-size: 17px;
	padding: 7px 25px 7px 22px;
}

.main-navigation ul ul {
	float: left;
	position: absolute;
	top: 34px;
	left: -999em;
	z-index: 99999;
	background: #A711B0;
	/*box-shadow: inset 0px 20px 20px -20px rgba(0,0,0,0.9);*/
	min-width: 250px;
	text-align: center;
}
.main-navigation ul ul li{
	width: 100%;
}
.main-navigation ul ul ul {
	width:250px;
	left: -999em;
	top: 0;
}
.main-navigation ul ul a {
	padding: 5px 20px;
	margin: 0;
	color: white;
	font-size: 14px;
}
.main-navigation ul ul ul a {
	width: 250px;
	padding: 5px 20px;
	margin: 0;
	font-size: 14px;
}
.main-navigation ul ul li:last-child a {
	border-bottom: none;
	/*border-radius: 0 0 10px 10px;*/
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a, .main-navigation li.focus > a {

}
.main-navigation ul ul li:hover > a {
	background: #531D94;
}
.main-navigation ul ul a:hover, .main-navigation ul ul a.focus {
}
.main-navigation .nav-menu > li {
	border-top: 2px solid transparent;
}
.main-navigation .nav-menu > li.sfHover {
	border-top: 2px solid #A711B0;
}
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
	left: auto;
}
.main-navigation ul li:hover:last-child > ul, .main-navigation ul li:last-child.focus > ul {
	/*right:20px;*/
}
.main-navigation ul li:hover:last-child ul li > ul, .main-navigation ul li:hover:last-child ul li.focus > ul {
	/*top: 0;*/
	/*left: auto;*/
	/*right: 100%;*/
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
	left: 100%;
}
.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a {
}
/* Small menu. */
.menu-toggle, .main-navigation.toggled ul {
	display: block;
}
button.menu-toggle {
	background: #A711B0;
	border: 1px solid white;
	color: white;
	margin: 10px;
	padding: 5px;
}
.main-navigation ul li.menu-item-has-children {
	position: relative;
}
.main-navigation ul li.menu-item-has-children:before {
	content: "\f0d7";
	color: #A711B0;
	font-size: 14px;
	font-family: FontAwesome, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	padding-right: 0.4em;
	position: absolute;
	top: 8px;
	left: 10px;
}
.main-navigation ul.sub-menu li.menu-item-has-children:before {
	content: "\f0da";
	font-family: FontAwesome, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: white;
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	top: 5px;
	left: 7px;
}
@media screen and (min-width: 700px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		flex-wrap: wrap;
	}

}
@media screen and (max-width: 700px) {
	.main-navigation ul {
		border-top: 1px solid #CCCCCC;
		clear: both;
	}
	.main-navigation .nav-menu > li.sfHover {
		border-top: 2px solid transparent;
	}
	.main-navigation ul li a:after {
		display: none;
	}
	.main-navigation ul ul {
		text-align: left;
	}
	/* start responsive menu*/
	.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
		left: auto;
	}
	.nav-wrapper {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	.main-navigation ul li.menu-item-has-children:before {
		font-size: 14px;
		top: 20px;
		left: 8px;
	}
	.main-navigation ul :hover > a, .main-navigation ul ul .focus > a {
	}
	.main-navigation a {
	}
	.main-navigation li {
		float: none;
	}
	.main-navigation ul ul {
	}
	.main-navigation ul ul a {
		margin: 0;
	}
	.main-navigation ul ul li:last-child a {
		border-bottom: 1px solid #ccc;
	;
	}
	.main-navigation li a {
		padding: 15px 20px;
		margin-bottom: 5px;
	}
	.main-navigation li li a {
		padding-left: 40px;
	}
	.main-navigation li li li a {
		padding-left: 6em;
	}
	.main-navigation li:hover > a {
		text-decoration: underline;
	}
	.main-navigation ul ul, .main-navigation ul ul ul {
		position: relative;
		top: inherit;
		left: 0;
		display: block;
		float: none;
	}
	.main-navigation ul ul a {
		width: 100%;
	}
	.main-navigation ul a:hover, .main-navigation ul ul a:hover {

	}
	.main-navigation .current_page_ancestor {
		background: inherit;
	}
	.main-navigation ul ul .current_page_parent {
		color: inherit;
		background: inherit;
	}
	.main-navigation .current_page_item > a, .main-navigation .current_page_item > a:hover, .main-navigation .current_page_item li:hover, .main-navigation .current_page_parent .current_page_item > a {
	}
}
/*End responsive menu*/


/*--------------------------------------------------------------
# To Top
--------------------------------------------------------------*/

#to-top {
	display: none;
	background-color: #ccc;
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 44px;
	height: 42px;
	text-align: center;
	z-index: 999999999;
}
#to-top i {
	position: absolute;
	top: 12px;
	left: 13px;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/* footer nav */
.footer-nav-wrapper {
	background-color: #74B147;
	position: relative;
	padding: 8px 15px;
}
.footer-nav {
	max-width: 1100px;
	margin: 0 auto;
}
.footer-nav li {
	display: inline-block;
	margin-bottom: 0;

}
.footer-nav li a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	padding: 0 10px;
	border-right: 1px solid #ffffff;
}
.footer-nav li:last-child a {
	border: none;
}
.footer-nav li a:hover {
	text-decoration: underline;
}
/* end footer nav */

.footer-wrapper {
	background: #3E6218;
	color: white;
	padding: 40px 20px;
	font-size: 18px;
}
.footer {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer a {
	color: white !important;
}
.footer-left {
	width: 66%;
	display: flex;
	flex-wrap: wrap;
}
.footer-right {
	width: 34%;
}
.footer-left .col1 {
	margin-right: 10px;
}
.footer-left .col2 {
	margin-right: 10px;
}
.footer-left .col1 img {
	display: block;
	margin-bottom: 20px;
}
.copyright {
	font-size: 14px;
	margin-top: 10px;
}
.copyright a {
	color: #ffffff;
}
.footer-right form {
	padding-top: 20px;
}

/*--------------------------------------------------------------
# Spatial Module
--------------------------------------------------------------*/

#spatialCollectionsTab {
	display: none;
}

#searchGeneticCheckbox {
	display: none;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn {
	display: inline-block;
	background: #4E1E97;
	color: #ffffff;
	padding: 5px 8px;
	margin-top: 5px;
}
.btn:hover {
	text-decoration: none;
	opacity: 0.9;
	color: white;
}
.green-btn {
	background: #74B147;
	border: none;
}
.purple {
	background: #4e1e97;
}
.light-purple-btn {
	background: #A78FCB;
}
.full-width-btn {
	width: 100%;
	text-align: center;
}
@media screen and (max-width: 880px) {
	.main-navigation {
		margin-top: -20px;
		clear: both;
	}
}

@media screen and (max-width: 800px) {
	.home-box {
		flex: 0 1 calc(50% - 15px);
	}
}
@media screen and (max-width: 700px) {
	.home-box {
		flex: 0 1 calc(50% - 15px);
	}
	.welcome-wrapper .col1, .welcome-wrapper .col2 {
		width: 100%;
		padding: 0;
	}
	.whois-wrapper .col1, .whois-wrapper .col2 {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.garden-wrapper {
		display: block;
	}
	.garden-wrapper .col1 {
		background: url("/images/layout/garden-with-natives-bg.jpg") no-repeat;
		background-size: cover;
		height: 200px;
	}
	.news-wrapper .col1, .news-wrapper .col2 {
		width: 100%;
		padding: 0;
	}
	.books-wrapper .col-wrapper {
		display: block;
	}
	.books-wrapper .our-books {
		width: 100%;
		padding-right: 0;
		border-right: none;
	}
	.books-wrapper .our-app {
		 width: 100%;
		 padding-left: 0;
	 }
	.our-app div {
		clear: both;
		overflow: visible;
	}
	.footer-left {
		width: 100%;
	}
	.footer-right {
		width: 100%;
	}
}


@media screen and (max-width: 500px) {
	.image-left, .image-right {
		margin: 0;
		width: 100%;
	}
	.home-box {
		flex: 0 1 100%;
	}
	.header-logo {
		height: 112px;
	}
	.header-logo img {
		border: 2px solid white;
	}
	.search-wrapper {
		padding: 20px 0 0 0;
	}
}

#innertext {
	width: 97%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}

.navpath {
	padding-left: 15px;
	padding-top: 5px;
}

.native-banner-wrapper {
	background: #9678C2;
	height: 58px;
	color: #ffffff;
	padding: 10px;
}
.native-banner-wrapper h2 {
	display: block;
	font-size: 30px;
}

.garden-header-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 566px;
}
.garden-header-wrapper .col2 {
	flex: 1;
	background: url("../images/layout/garden-with-natives-bg.jpg") no-repeat;
	background-size: cover;
}
.garden-header-wrapper .col1 {
	flex: 1;
	padding: 20px 30px;
	background: #4e1e97;
	color: #ffffff;
}
.garden-header-wrapper .col1 .col-content {
	width: 475px;
	margin: 0 auto;
	padding-left: 30px;
}
.garden-header-wrapper h2 {
	color: #ffffff;
	font-size: 30px;
}

.metro-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto 30px;
}
.metro-wrapper .metro-col1 {
	flex: 1;
	background: url("../images/metro_logo.png") no-repeat;
	background-size: cover;
	width: 105px;
	height: 41px;
	padding: 10px;
	float: left;
}
.metro-wrapper .metro-col2 {
	flex: 1;
	max-width: 700px;
	float: right;
	padding: 10px 20px;
}

.garden-content h2 {
	display: block;
	color: #4e1e97;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 0;
	text-align:center;
	width:100%;
}

.garden-content .home-boxes {
	padding-top: 30px;
}

.garden-name-search-box {
	width: 375px;
	margin: 0 auto;
	text-align:center;
}


div.gardenSearchTable {
	border: 1px solid #75B04D;
	background-color: #FFFFFF;
	text-align: center;
	border-collapse: collapse;
	margin: 20px auto;
}
.divTable.gardenSearchTable .divTableCell, .divTable.gardenSearchTable .divTableHead {
	border: 1px solid #75B04D;
	padding: 3px 2px;
}
.divTable.gardenSearchTable .divTableBody .divTableCell {
	font-size: 13px;
}
.divTable.gardenSearchTable .divTableHeading {
	background: #75B04D;
}
.divTable.gardenSearchTable .divTableHeading .divTableHead {
	font-size: 15px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #FFFFFF;
}
.divTable.gardenSearchTable .divTableHeading .divTableHead:first-child {
	border-left: none;
}

div.plantTypeCol {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.divTable.plantTypeCol .divTableCell, .divTable.plantTypeCol .divTableHead {
	border: 0px;
	padding: 3px 2px;
}
.divTable.plantTypeCol .divTableBody .divTableCell {
	font-size: 13px;
	width: 150px;
	height: 120px;
}

div.sunlightCol {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.divTable.sunlightCol .divTableCell, .divTable.sunlightCol .divTableHead {
	border: 0px solid #75B04D;
	padding: 3px 2px;
}
.divTable.sunlightCol .divTableBody .divTableCell {
	font-size: 13px;
	width: 150px;
	height: 120px;
}

div.moistureCol {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.divTable.moistureCol .divTableCell, .divTable.moistureCol .divTableHead {
	border: 0px solid #75B04D;
	padding: 3px 2px;
}
.divTable.moistureCol .divTableBody .divTableCell {
	font-size: 13px;
	width: 150px;
	height: 120px;
}

div.sizeCol {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.divTable.sizeCol .divTableCell, .divTable.sizeCol .divTableHead {
	border: 0px solid #75B04D;
	padding: 3px 2px;
}
.divTable.sizeCol .divTableBody .divTableCell {
	font-size: 13px;
	width: 375px;
}

div.growthCol {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.divTable.growthCol .divTableCell, .divTable.growthCol .divTableHead {
	border: 0px solid #75B04D;
	padding: 3px 2px;
}
.divTable.growthCol .divTableBody .divTableCell {
	font-size: 20px;
	width: 150px;
	height: 70px;
}

.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableBody { display: table-row-group;}

.featureCheckBox {
	position: absolute;
	left: -9999px;
}
.featureCheckBoxLabel {
	display: inline-block;
	cursor: pointer;
	width: 95px;
	height: 95px;
	margin: auto;
	font-size: 0px;
}
.featureCheckBoxDiv {
	background: white;
	width: 110px;
	height: 110px;
	text-align: center;
	margin: auto;
}
.planttype1 {background: url("../images/plant_type_icon1.png") center; background-size: cover;}
.planttype2 {background: url("../images/plant_type_icon2.png") center; background-size: cover;}
.planttype3 {background: url("../images/plant_type_icon3.png") center; background-size: cover;}
.planttype4 {background: url("../images/plant_type_icon4.png") center; background-size: cover;}
.planttype5 {background: url("../images/plant_type_icon5.png") center; background-size: cover;}
.planttype6 {background: url("../images/plant_type_icon6.png") center; background-size: cover;}
.sunlight1 {background: url("../images/sunlight_icon1.png") center; background-size: cover;}
.sunlight2 {background: url("../images/sunlight_icon2.png") center; background-size: cover;}
.sunlight3 {background: url("../images/sunlight_icon3.png") center; background-size: cover;}
.sunlight4 {background: url("../images/sunlight_icon4.png") center; background-size: cover;}
.sunlight5 {background: url("../images/sunlight_icon5.png") center; background-size: cover;}
.moisture1 {background: url("../images/moisture_icon1.png") center; background-size: cover;}
.moisture2 {background: url("../images/moisture_icon2.png") center; background-size: cover;}
.moisture3 {background: url("../images/moisture_icon3.png") center; background-size: cover;}
.moisture4 {background: url("../images/moisture_icon4.png") center; background-size: cover;}
.moisture5 {background: url("../images/moisture_icon5.png") center; background-size: cover;}

.featureTextCheckBox {
	position: absolute;
	left: -9999px;
}
.featureTextCheckBoxLabel {
	display: inline-block;
	cursor: pointer;
	width: 95px;
	height: 30px;
	margin: auto;
}
.featureTextCheckBoxDiv {
	background: white;
	width: 110px;
	height: 50px;
	display: flex;
	align-items: center;
	margin: auto;
}
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-label {
	height: 10px;
	position: relative;
	width: 25px;
	text-align: center;
	top: -2px;
	left: -4px;
	color: black;
	font-size:12px;
}

.custom-label-bar {
	background: #4e1e97;
	width: 3px;
	height: 26px;
	position: relative;
	top: -2px;
	left: 7px;
}

.feature-slider-range {
	width: 360px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.feature-slider-low-value {
	float: left;
}

.feature-slider-high-value {
	float: right;
}

.feature-slider-label {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}

#heightSlider{
	pointer-events: none;
	width: 340px;
	height: 15px;
	display: block;
	border: 1px solid #4e1e97;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0 auto;
}
#heightSlider .ui-widget-header {
	overflow: hidden;
	background: #A3CE7D;
	height: 13px;
	margin: 0;
	cursor: none;
}
#heightSlider .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
#heightSlider .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	overflow: hidden;
}
#heightSlider .ui-corner-all {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
#height-handle {
	background: transparent;
	border: 0px;
	cursor: col-resize;
	position: absolute;
	display: block;
	z-index: 99;
	pointer-events: auto;
}

#widthSlider{
	pointer-events: none;
	width: 340px;
	height: 15px;
	display: block;
	border: 1px solid #4e1e97;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0 auto;
}
#widthSlider .ui-widget-header {
	overflow: hidden;
	background: #A3CE7D;
	height: 13px;
	margin: 0;
	cursor: none;
}
#widthSlider .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
#widthSlider .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	overflow: hidden;
}
#widthSlider .ui-corner-all {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
#width-handle {
	background: transparent;
	border: 0px;
	cursor: col-resize;
	position: absolute;
	display: block;
	z-index: 99;
	pointer-events: auto;
}
.advSearchToggleCheck {
	position: absolute;
	left: -9999px;
}
.advSearchToggleLabel {
	display: flex;
	align-items: center;
	background-color: #75B04D;
	cursor: pointer;
	width: 150px;
	height: 50px;
	margin: auto;
	font-size: 20px;
	color: white;
}
#showAdvSearchFilters {
	width: 100%;
	text-align: center;
	display: block;
}
#hideAdvSearchFilters {
	width: 100%;
	text-align: center;
	display: none;
}
#advSearchWrapper {
	display: none;
}
:focus {
	outline: 0;
}
#characteristicsPane {
	width: 1000px;
	margin: 20px auto 10px;
}
#usesPane {
	width: 1000px;
	margin: 20px auto 10px;
}
#wildlifePane {
	width: 1000px;
	margin: 20px auto 10px;
}
#morePane {
	width: 1000px;
	margin: 20px auto 10px;
}
#availabilityPane {
	width: 1000px;
	margin: 20px auto 10px;
}
.advSearchOptionWrapper {
	width: 100%;
	margin: auto;
	clear: both;
}
.advSearchOptionHeader {
	width: 100%;
	clear: both;
}
.advSearchOptCheckBox {
	position: absolute;
	left: -9999px;
}
.advSearchOptCheckBoxLabel {
	display: inline-block;
	cursor: pointer;
}
.advSearchOptCheckBoxDiv {
	background: white;
	display: flex;
	align-items: center;
	float:left;
	padding: 15px;
	margin: 10px;
}
.selectedOption {
	background: #D4E6C8;
}

.wildlifeOptIconDiv {
	width: 48px;
	height: 48px;
	float: left;
}
.wildlife1 {background: url("../images/wildlife_icon1.png") center; background-size: cover;}
.wildlife2 {background: url("../images/wildlife_icon2.png") center; background-size: cover;}
.wildlife3 {background: url("../images/wildlife_icon3.png") center; background-size: cover;}
.wildlife4 {background: url("../images/wildlife_icon4.png") center; background-size: cover;}
.wildlife5 {background: url("../images/wildlife_icon5.png") center; background-size: cover;}

.results-wrapper {
	width: 100%;
	background-color: #947AC0;
	min-height: 100px;
	margin: 20px 0px;
	display: none;
}
.results-content {
	max-width: 1100px;
	margin: 0 auto;
	color: white;
	padding: 20px;
}
.topResultsBar {

}
.resultsDiv {
	float: left;
}
#resultCount {

}
.resetButtonDiv {
	float: left;
	margin-left: 20px;
	color: black;
}
#resetButton {

}
.displaySettingDiv {
	float: left;
	margin-left: 20px;
}
.listDisplayDiv {
	float: left;
	margin-left: 20px;
}
.gridDisplayDiv {
	float: left;
	margin-left: 20px;
}
.searchManifestWrapper {
	clear: both;
	margin: 20px auto;
	width: 100%;
}
#searchCriteriaManifest {
	background-color: #947AC0;
	cursor: default;
	width: 100%;
}
div.mf_container {
	border: 0px;
	width: 100%;
}
.searchResultListToggleShow {
	cursor: pointer;
}
.searchResultListToggleHide {
	display: none;
	cursor: pointer;
}
.searchResultListHiddenRow {
	display: none;
}