/* Modify styles within this file to override styles within base.css file 
 * 
 **/
body{
	width: 80%;
	min-width:950px;
	margin-top:0px;
}

/*Main table framework*/
#maintable{
	width: 100%;
	background-color:#FFFFFF;
	border:1px solid #333333;
}

#maintable td{

}

td.header{
	color:#FFFFFF;
	background-color:#026B6E;
	text-align:left;
	padding:0px;
}

td.header a{

}

td.header a:hover{

}

td.middleleft{
}

td.middleleftnomenu{
}

td.middlecenter{
	padding:0px;
}

td.middleright{
}

td.footer{
}

/*Central div in the middle center table div */
#innertext{
}

#innertext a{

}
#innertext a:hover{

}

div.navpath {
}

/* Image thumbnails   */
div.tndiv{

}

div.tnimg{

}

div.tnimg a{

}

div.tnimg img{

}	

/*Misc general items*/
table{

}

h1{

}

h2{

}

h3{

}

#top_navbar{
	clear:both;
	height:33px;
	background-image:url(images/menu_pri_background.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#c2c2c2;
}
#right_navbarlinks{
	clear:both;
	font-size:11px;
	float:right;
	color:#000000;
	margin-top:9px;
}
ul#hor_dropdown{
	list-style:none;
	float:left;
	position:relative;
	font-size:12px;
	width:auto;
	height:31px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left:0px;
	background-image:url(images/menu_pri_background.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#c2c2c2;
}
ul#hor_dropdown li{		
	float:left;
	position:relative;
	padding:0;
	margin:0;
}
ul#hor_dropdown a{
	display:block;
	color:#000000;
	text-decoration:none;
	padding-top:8px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	background-image: url(images/menu-item_divider.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
ul#hor_dropdown a:hover{
	background-color:#999999;
	color:#FFFFFF;
	padding-top:9px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	background-image:none;
}
/* Submenu */
ul#hor_dropdown ul {
	list-style:none;
	position:absolute;
	left:-9999px;
	top:-9999px;
	background-color:#dcdcdc;
	z-index:1000;
}
ul#hor_dropdown ul li{
	float:none;
}
ul#hor_dropdown ul a{
	white-space:nowrap;
}
ul#hor_dropdown li:hover ul {
	left:0;
	top:33px;
	padding:0px;
	z-index:1000;
}
ul#hor_dropdown li:hover ul a {
	padding:5px;
	text-decoration:none;
	text-indent:8px;
	padding-right:8px;
	background-image: none;
	background-color:#dcdcdc;
	z-index:1000;
}
ul#hor_dropdown li:hover ul li a:hover { 
	background:#999999; 
}

/* Quick Search Plugin */
#quicksearchtext{
	margin-top:0px;
	padding-bottom:0px;
}

#quicksearchtaxon{
	width: 250px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-family: Arial, Helvetica, sans-serif;
}

#quicksearchbutton{
	margin-left:10px;
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

/* Slideshow Plugin */
#slideshowcontainer{
	border: 2px solid black;
	border-radius:10px;
	padding:10px;
}