body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#innertext{
	padding:	10px;
	font-size:	12px;
	background-color: #ffffff;;
}

#titleDiv{
	font-weight: bold;
	font-size: 16px;
	width: 595px;
}

#querySymbolDiv{
	float:right;
}

#navDiv{
	width: 600px;
	clear: both;	
}

#occdiv{
	position: relative;
	width: 595px;
}

#admindiv{
	width: 595px;
}

#occedittabs{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

#dupesDiv{
	float:left;
	margin:5px 5px;
}

#dateToggleDiv{
	float:left;
	margin:15px 5px;
}

#dupediv{
	display:none;
	float:right;
	width:150px;
	border:2px outset blue;
	background-color:#FFFFFF;
	padding:3px;
	font-weight:bold;
}

#dateextradiv{
	clear: both;
	padding:10px;
	margin:5px;
	border:1px solid gray;
	display:none;
	height:20px;
}

#idrefToggleDiv{
	display:none;
}

#idrefdiv{
	display:none;
	clear:both;
}


/* Field entry divs and input objects */
#catalogNumberDiv {
	display: none;
}

#otherCatalogNumbersDiv {
	display: none;
}

#recordedByDiv {
	position: absolute;
	top: 25px;
	left: 25px;
}

#recordedByDiv input{
	width:	220px;
}

#recordNumberDiv {
	position: absolute;
	top: 25px;
	left: 258px;
}

#recordNumberDiv input{
	width:	60px;
}

#eventDateDiv {
	position: absolute;
	top: 25px;
	left: 330px;
}

#eventDateDiv input{
	width:	110px;
}

#associatedCollectorsDiv {
	display: none;
}

#dupesDiv{
	position: absolute;
	top: 25px;
	left: 450px;
}

#dateToggleDiv{
	display: none;
}

#verbatimEventDateDiv {
	display: block;
	float:	 left;
}

#verbatimEventDateDiv input{
	width:	200px;
}

#ymdDiv {
	display: none;
}

#dayOfYearDiv {
	display:none;
}

#scinameDiv {
	position: absolute;
	top: 70px;
	left: 25px;
}

#scinameDiv input{
	width:390px;
}

#scientificNameAuthorshipDiv {
	display:none;
}

#identificationQualifierDiv {
	display:none;
}

#familyDiv {
	display:none;
}

#identifiedByDiv {
	display:none;
}

#dateIdentifiedDiv{
	display:none;
}

#identificationReferencesDiv{
	display:none;
}

#identificationRemarksDiv{
	display:none;
}

#countryDiv{
	float:	left;
}

#countryDiv input{
	width:	150px;
}

#stateProvinceDiv{
	float:	left;
}

#stateProvinceDiv input{
	width:	150px;
}

#countyDiv{
	float:	left;
}

#countyDiv input{
	width:	150px;
}

#municipalityDiv{
	display:none;
}

#localityDiv{
	clear:	both;
	margin:	4px 0px 2px 0px;
}

#localityDiv input{
	width:				99%;
	background-color:	lightyellow;
}

#localSecurityDiv{
	display:none;
}

#decimalLatitudeDiv{
	float:		left;
	margin-top:	2px;
}

#decimalLatitudeDiv input{
	width:	88px;
	background-color:lightyellow;
}

#decimalLongitudeDiv{
	float:	left;
	margin-top:2px;
}

#decimalLongitudeDiv input{
	width:	88px;
	background-color:lightyellow;
}

#coordinateUncertaintyInMetersDiv{
	float:left;
}

#coordinateUncertaintyInMetersDiv input{
	width:	70px;
}

#googleDiv{
	float:	left;
	margin-top:20px;
	cursor:	pointer;
	padding:3px;
}

#googleDiv img{
	border:	0px;
	width:	13px;
}

#geoLocateDiv{
	float:	left;
	margin-top:20px;
}

#geoLocateDiv img{
	width:	18px;	
}

#geoToolsDiv{
	display:none;
}


#geodeticDatumDiv{
	display:none;
}

#elevationDiv{
	display:none;
}

#verbElevParseDiv{
	display:none;
}

#verbatimElevationDiv{
	float:	left;
	margin:2px 10px;
}

#verbatimElevationDiv input{
	width:	100px;
}

#locExtraToggleDiv{
	display:none;
}

#locExtraDiv{
	display:block;
	position:relative;
	clear:both;
}

#verbatimCoordinatesDiv{
	float:	left;
	margin-top:2px;
}

#verbatimCoordinatesDiv input{
	width:	300px;
}

#georeferencedByDiv{
	display:none;
}

#footprintWktDiv{
	display:none;
}

#georeferenceProtocolDiv{
	display:none;
}

#georeferenceSourcesDiv{
	display:none;
}

#georeferenceVerificationStatusDiv{
	display:none;
}

#georeferenceRemarksDiv{
	display:none;
}

#habitatDiv{
	padding: 2px;
}

#habitatDiv input{
	width: 400px;
}

#substrateDiv{
	padding: 2px;
}

#substrateDiv input{
	width: 488px;
}

#associatedTaxaDiv{
	display:none;
}

#verbatimAttributesDiv{
	display:none;
}

#occurrenceRemarksDiv{
	padding: 2px;
}

#occurrenceRemarksDiv input{
	width: 480px;
}

#occurrenceRemarksDiv span{
	margin-left: 5px;
	cursor: pointer;
}

#occurrenceRemarksDiv img{
	width:15px;
}

#dynPropToggleSpan{
	display:none;
}

#dynamicPropertiesDiv{
	display:none;
}

#lifeStageDiv{
	display:none;
}

#sexDiv{
	display:none;
}

#individualCountDiv{
	display:none;
}

#samplingProtocolDiv{
	display:none;
}

#preparationsDiv{
	display:none;
}

#reproductiveConditionDiv{
	display:none;
}

#establishmentMeansDiv{
	display:none;
}

#cultivationStatusDiv{
	display:none;
}

#typeStatusDiv{
	display:none;
}

#dispositionDiv{
	display:none;
}

#occurrenceIdDiv{
	display:none;
}

#fieldNumberDiv{
	display:none;
}

#ownerInstitutionCodeDiv{
	display:none;
}

#basisOfRecordDiv{
	display:none;
}

#languageDiv{
	display:none;
}

#labelProjectDiv{
	display:none;
}

#duplicateQuantityDiv{
	display:none;
}

#processingStatusDiv{
	display:none;
}

#pkDiv{
	display:none;
}


/*Tabs */
#detTab{
	display: none;
}

#imgTab{
	display: none;
}

#adminTab{
	display: none;
}

/* Misc styling */
#fullform fieldset{
	border: 0px;
}

#fullform fieldset legend {
	display: none;
}

img.docimg { 
	border:			0px;
	width:			9px;
	margin-bottom:	2px; 
}

table { 
	font-family: 	Arial, Helvetica, sans-serif; 
	font-size: 		12px;
}

