body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 820px;
}

#innertext{
	padding:	10px;
	font-size:	12px;
	background-color: #ffffff;;
}

#titleDiv{
	font-weight: bold;
	font-size: 16px;
	width: 820px;
}

#querySymbolDiv{
	float:right;
}

#navDiv{
	width: 820px;
	clear: both;	
}

#navDiv.navpath{
}

#occdiv{
	position: relative;
	width: 795px;
}

#admindiv{
	width: 795px;
}

#occedittabs{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

#dupesDiv{
	float:left;
	margin:5px 5px;
}

#dateToggleDiv{
	float:left;
	margin:15px 5px;
}

#dupeMsgDiv{
	position: absolute;
	top: 78px;
	left: 617px;
	display:none;
	background-color: lightgrey;
	z-index: 10; 
	padding:15px;
	font-weight:bold;
}

#dupeMsgDiv div{
	width:150px;
	border:2px outset blue;
	background-color: white;
	padding:3px;
}

#dateextradiv{
	clear: both;
	padding:10px;
	margin:5px;
	border:1px solid gray;
	display:none;
	height:20px;
}

#idrefToggleDiv{
	float:left;
	margin-left:15px;
	cursor:pointer;
}

#idrefdiv{
	display:none;
	clear:both;
}

/* Field entry divs and input objects */
#catalogNumberDiv {
	float:	left;
}

#catalogNumberDiv input{
	width:	120px;
}

#otherCatalogNumbersDiv {
	float:	left;
}

#otherCatalogNumbersDiv input{
	width:	110px;
}

#recordedByDiv {
	float:	left;
}

#recordedByDiv input{
	width:	200px;
}

#recordNumberDiv {
	float:	left;
}

#recordNumberDiv input{
	width:	100px;
}

#eventDateDiv {
	float:	left;
}

#eventDateDiv input{
	width:	90px;
}

#associatedCollectorsDiv {
	float:	left;
}

#associatedCollectorsDiv input{
	width:	400px;
}

#verbatimEventDateDiv {
	float:	left;
}

#verbatimEventDateDiv input{
	width:	180px;
}

#ymdDiv {
	float:	left;
	margin-left: 5px;
}

#ymdDiv input{
	width:	35px;
}

#dayOfYearDiv {
	float:	left;
	margin-left: 5px;
}

#dayOfYearDiv input{
	width:	40px;
}

#endDateDiv {
	float:	left;
	margin-left: 25px;
	font-weight: bold;
}

#endDateDiv input{
	width:	90px;
}

#exsDiv {
	clear: both;
}

#ometidDiv{
	float: left;
}

#exstitleinput {
	width: 600px;
}

#exsnumberDiv {
	float:left;
	margin-left:5px;
}

#exsnumberDiv input{
	width:50px;
}

#scinameDiv {
	float:	left;
}

#scinameDiv input{
	width:390px;
}

#scientificNameAuthorshipDiv {
	float:			left;
	margin-left:	10px;
}

#scientificNameAuthorshipDiv input{
	width:	200px;
}

#idRankDiv{
	float:	left;
}

#identificationQualifierDiv {
	float:	left;
	margin-left: 10px;
}

#familyDiv {
	float:	left;
	margin-left: 10px;
}

#familyDiv input{
	width:	150px;
}

#identifiedByDiv {
	float:	left;
}

#identifiedByDiv input{
	width:	200px;
}

#dateIdentifiedDiv{
	float:			left;
	margin-left:	15px;
}

#dateIdentifiedDiv input{
	width:	200px;
}

#identificationReferencesDiv{
	padding:	3px 0px 0px 10px;
}

#identificationReferencesDiv input{
	width: 95%;
}

#identificationRemarksDiv{
	padding:	3px 0px 0px 10px;
}

#identificationRemarksDiv input{
	width:	95%;
}

#taxonRemarksDiv{
	padding:	3px 0px 0px 10px;
}

#taxonRemarksDiv input{
	width:	95%;
}

#countryDiv{
	float:	left;
}

#countryDiv input{
	width:	150px;
}

#stateProvinceDiv{
	float:	left;
}

#stateProvinceDiv input{
	width:	150px;
}

#countyDiv{
	float:	left;
}

#countyDiv input{
	width:	150px;
}

#municipalityDiv{
	float:	left;
}

#municipalityDiv input{
	width:	150px;
}

#localityDiv{
	clear:	both;
	margin:	4px 0px 2px 0px;
}

#localityDiv input{
	width: 97%;
}

#localSecurityDiv{
	width: 	500px;
	margin-bottom:5px;
}

#localSecurityDiv span{
	margin-left: 40px;
	display: none;
}

#localAutoDeactivatedDiv{
	float:right;
	margin-right:15px;
}

#localityExtraDiv{
	clear:	both;
}

#locationRemarksDiv{
	clear:	both;
	margin:	4px 0px 2px 0px;
}

#locationRemarksDiv input{
	width: 99%;
}

#decimalLatitudeDiv{
	float:		left;
	margin-top:	2px;
}

#decimalLatitudeDiv input{
	width:	88px;
}

#decimalLongitudeDiv{
	float:	left;
	margin-top:2px;
}

#decimalLongitudeDiv input{
	width:	88px;
}

#coordinateUncertaintyInMetersDiv{
	float:left;
}

#coordinateUncertaintyInMetersDiv input{
	width:	70px;
}

#googleDiv{
	float:	left;
	margin-top:18px;
	cursor:	pointer;
	padding:3px;
}

#googleDiv img{
	border:	0px;
	width:	13px;
}

#geoLocateDiv{
	float:	left;
	margin-top:18px;
}

#geoLocateDiv img{
	width:	18px;	
}

#coordCloningDiv{
	float:	left;
	margin-left:2px;
	margin-top:16px;
}

#geoToolsDiv{
	float:	left;
	margin-left:2px;
	margin-top:16px;
}

#coordAidDiv{
	display:	none;
	clear:		both;
}

#dmsAidDiv{
	 float:	left;
	 padding:	15px 10px;
	 background-color: lightyellow;
	 border: 1px solid yellow;
	 width:	260px;
}

#utmAidDiv{
	 float:	left;
	 padding:	15px 10px;
	 background-color:	lightyellow;
	 border:1px solid yellow;
	 width:150px;
	 margin-bottom:10px;
}

#trsAidDiv{
	float:	left;
	padding:15px 10px;
	background-color:lightyellow;
	border:	1px solid yellow;
}

#geodeticDatumDiv{
	float:	left;
	margin-left: 2px;
}

#geodeticDatumDiv input{
	width:	80px;
}

#verbatimCoordinatesDiv{
	float:	left;
	margin-top:2px;
}

#verbatimCoordinatesDiv input{
	width:	280px;
}

#elevationDiv{
	float:	left;
	margin-top:2px;
}

#elevationDiv input{
	width:65px;
}

#verbatimElevationDiv{
	float:	left;
	margin-top:2px;
}

#verbatimElevationDiv input{
	width:	130px;
}

#depthDiv{
	float:	left;
	margin-top:2px;
	margin-left:15px;
}

#depthDiv input{
	width:65px;
}

#verbatimDepthDiv{
	float:	left;
	margin-top:2px;
	margin-left:5px;
}

#verbatimDepthDiv input{
	width:	130px;
}

#georefExtraToggleDiv{
	float:left;
	margin:15px 5px;
	cursor:pointer;
}

#georefExtraDiv{
	display:none;
	position:relative;
	clear:both;
}

#georeferencedByDiv{
	float:	left;
	margin-top:2px;
}

#georeferencedByDiv input{
	width:	150px;
}

#footprintWktDiv{
	float:	left;
	margin-top:2px;
}

#footprintWktDiv textarea{
	width:	400px;
	height:	15px;
}

#georeferenceProtocolDiv{
	float:	left;
}

#georeferenceProtocolDiv input{
	width:	130px;
}

#georeferenceSourcesDiv{
	float:	left;
}

#georeferenceSourcesDiv input{
	width:	150px;
}

#georeferenceVerificationStatusDiv{
	float:	left;
}

#georeferenceVerificationStatusDiv input{
	width:	170px;
}

#georeferenceRemarksDiv{
	float:	left;
	margin-top:2px;
}

#georeferenceRemarksDiv input{
	width:	250px;
}

#habitatDiv{
	padding: 2px;
}

#habitatDiv input{
	width: 95%;
}

#substrateDiv{
	padding: 2px;
}

#substrateDiv input{
	width: 95%;
}

#hostDiv{
	padding: 2px;
}

#hostDiv input{
	width: 95%;
}

#associatedTaxaDiv{
	padding: 2px;
}

#associatedTaxaDiv textarea{
	height:	15px;
	width:	95%;
}

#associatedTaxaDiv img{
	width:	15px;
	border:	0px;
}

#verbatimAttributesDiv{
	padding: 2px;
	clear: both;
}

#verbatimAttributesDiv input{
	width: 95%;
}

#occurrenceRemarksDiv{
	padding: 2px;
}

#occurrenceRemarksDiv input{
	width: 95%;
}

#occurrenceRemarksDiv span{
	margin-left: 5px;
	cursor: pointer;
}

#occurrenceRemarksDiv img{
	width:15px;
}

#dynamicPropertiesDiv{
	padding: 2px;
	display: none;
	clear: both;
}

#dynamicPropertiesDiv input{
	width: 95%;
}

#lifeStageDiv{
	float: left;
	margin:2px;
}

#lifeStageDiv input{
	width: 130px;
}

#sexDiv{
	float: left;
	margin:2px;
}

#sexDiv input{
	width: 130px;
}

#individualCountDiv{
	float: left;
	margin: 2px;
}

#individualCountDiv input{
	width:120px;
}

#samplingProtocolDiv{
	float: left;
	margin: 2px;
}

#samplingProtocolDiv input{
	width: 130px;
}

#preparationsDiv{
	float:left;
	margin:2px;
}

#preparationsDiv input{
	width:130px;
}

#reproductiveConditionDiv{
	float:left;
	margin:2px;
}

#reproductiveConditionDiv select{
	width:140px;
}

#reproductiveConditionDiv input{
	width:140px;
}

#establishmentMeansDiv{
	float: left;
	margin: 2px;
}

#establishmentMeansDiv input{
	width: 140px;
}

#cultivationStatusDiv{
	float:left;
	margin:15px 3px 3px 3px;
}

#typeStatusDiv{
	float:left;
	margin:3px;
}

#typeStatusDiv input{
	width:150px;
}

#dispositionDiv{
	float:left;
	margin:3px;
}

#dispositionDiv input{
	width:200px;
}

#occurrenceIdDiv{
	float:left;
	margin:3px;
}

#occurrenceIdDiv input{
	width:150px;
}

#fieldNumberDiv{
	float:left;
	margin:3px;
}

#fieldNumberDiv input{
	width:150px;
}

#institutionCodeDiv{
	float:left;
	margin:3px;
}

#institutionCodeDiv input{
	width:150px;
}

#collectionCodeDiv{
	float:left;
	margin:3px;
}

#collectionCodeDiv input{
	width:150px;
}

#ownerInstitutionCodeDiv{
	float:left;
	margin:3px;
}

#ownerInstitutionCodeDiv input{
	width:150px;
}

#basisOfRecordDiv{
	float:left;
	margin:3px;	
}

#basisOfRecordDiv input{
	width:150px;
}

#languageDiv{
	float:left;
	margin:4px 3px;	
}

#languageDiv input{
	width:150px;
}

#labelProjectDiv{
	float:left;
	margin:5px 3px;
}

#duplicateQuantityDiv{
	float:left;
	margin:3px;
}

#duplicateQuantityDiv input{
	width:35px;
}

#dataGeneralizationsDiv{
	float:left;
	margin:3px;
}

#dataGeneralizationsDiv input{
	width: 500px;
}

#processingStatusDiv{
	float:left;
	margin:3px;
}

#pkDiv{
	padding:3px;
	clear:both;
}

/* Button Controls */
#addButtonDiv{
	width:		450px;
	border:		1px solid black;
	background-color:	lightyellow;
	padding:	10px;
	margin:		20px;
}

#editButtonDiv{
	margin:	15px 30px;
}

/*Misc styling*/
img.docimg { 
	border:			0px;
	width:			9px;
	margin-bottom:	2px; 
}

table { 
	font-family: 	Arial, Helvetica, sans-serif; 
	font-size: 		12px;
}
