#quicksearchdiv{
	width: 335px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 5px 0px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid black;	
}

#quicksearchtext{
}

#quicksearchtaxon{
	width: 240px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-family: Arial, Helvetica, sans-serif;
}

#quicksearchbutton{
	margin-left:10px;
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}