.map {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-family: Arial, sans-serif;
}

#mapscale_us {
	height: 20px;
	width: 100%;
	position: relative;
	float: left;
	color: white;
}

#mapscale_metric {
	height: 20px;
	width: 100%;
	position: relative;
	float: left;
	color: white;
}

#mapcoords {
	height: 30px;
	clear: both;
	position: relative;
	float: left;
	margin-left: 10px;
	color: white;
	background: inherit;
}

#mapinfo {
	bottom: 10px;
	right: 10px;
	padding: 10px;
	display: block;
	position: absolute;
	width: 200px;
	height:80px;
	z-index: 3;
	font-family: Arial;
	-moz-border-radius: 5 ! important;
	border: 1px 1px 0 0;
	background-color: #3c668d;
	opacity: 0.85;
}

.ui-rangeSlider-label .ui-rangeSlider-leftLabel {
	display: none;
}

#maptoolcontainer {
	position: absolute;
	top: 10px;
	left: 50%;
	z-index: 3;
}

#maptoolbox {
	position: relative;
	left: -50%;
	padding: 5px;
	display: block;
	width: 400px;
	z-index: 3;
	font-family: Arial;
	-moz-border-radius: 5 ! important;
	border: 1px 1px 0 0;
	background-color: #3c668d;
	opacity: 0.85;
}

#drawcontrol {
	float: left;
	width: 115px;
	height:30px;
	z-index: 3;
}

#selectcontrol {
	float: left;
	width: 380px;
	height:30px;
	z-index: 3;
}

#basecontrol {
	float: left;
	width: 270px;
	height:30px;
	margin-left: 5px;
	z-index: 3;
}

#loadlayers {
	float: right;
	width: 80px;
	height:30px;
	z-index: 3;
}

#clustercontrol {
	float: ;
	width: 180px;
	height:30px;
	z-index: 3;
}

#selectlayerselect {
	width: 240px;
}

.maptext, .maptext a{
	margin-right: 5px;
	color: white;
}

.ol-attribution{
	display: none;
}

.ol-scale-line {
	background-color: #3c668d;
}

.ol-zoom {
	top: 40px;
	left: auto;
	right: .5em;
}

.ol-zoom .ol-zoom-out {
	margin-top: 244px;
	left: auto;
	right: 8px;
}
.ol-zoomslider {
	background-color: transparent;
	top: 4.75em;
	left: auto;
	right: .5em;
	height:240px;
}

.ol-touch .ol-zoom .ol-zoom-out {
	margin-top: 252px;
	left: auto;
	right: .5em;
}
.ol-touch .ol-zoomslider {
	top: 5.25em;
	left: auto;
	right: .5em;
}
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 270px;
}
.ol-popup-finder {
	min-width: 100px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 8px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "✖";
}

.mapbody:-moz-full-screen {
	height: 100%;
}
.mapbody:-webkit-full-screen {
	height: 100%;
}
.mapbody:-ms-fullscreen {
	height: 100%;
}
.mapbody:fullscreen {
	height: 100%;
}
#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
	top: 43px;
	left: auto;
	right: .5em;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
	top: 272px;
	left: auto;
	right: .5em;
}

a.boxclose{
	float:right;
	width:36px;
	height:36px;
	background:transparent url(../images/spatial_close_icon.png) repeat top left;
	margin-top:-35px;
	margin-right:-35px;
	cursor:pointer;
}

#panelopenbutton{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 0px;
	z-index: 10;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
}

#panelclosebutton{
	position: absolute;
	top: 2;
	right: 0;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	z-index: 10;
	height: 30px;
}

#defaultpanel{
	width:380px;
}

#criteriatab{
	width: 379px;
	padding: 0px;
}

#recordstab{
	width: 379px;
	padding: 0px;
}

.tabtitle {
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
}

.ui-content {
	height:400px;
}

.ui-tabs a{
	font-weight: normal;
	color: black;
}

#sliderdiv{
	pointer-events:none;
}

#sliderdiv .ui-widget-header {
	overflow: hidden;
	background: #68a1d6;
	height: 30px;
	margin:0;
	-moz-border-radius: 4px;
	cursor: none;
	-webkit-box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
	-moz-box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
	box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
}

#sliderdiv .ui-corner-all {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#sliderdiv .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

#sliderdiv .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	overflow: hidden;
}

#custom-handle-min, #custom-handle-max {
	background: transparent;
	border: 0px;
	cursor:col-resize;
	position: absolute;
	display: block;
	z-index:99;
	pointer-events: auto;
}

.custom-label {
	background: #67707F;
	background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0));
	padding: 5px 10px;
	width: 94px;
	height: 30px;
	position: relative;
	top: -39px;
	left: -40px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:white;
	font-size:12px;
}
.label-arrow {
	width: 30px;
	height: 15px;
	position: relative;
	top: -40px;
	left: -8px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #888DA0;

}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}