#innertable{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

#toprow{
	width:				100%;
	padding-top:		15px;
	display:			table-row;
	clear:				both;
}

#topspacer{
	width:				100%;
	height:				15px;
	clear:				both;
}

#middlerow{
	display: flex;
	flex-direction: row-reverse;
}

#leftcolumn{
	display:		table-cell;
}

#leftcolumn.species{
	width:			300px;
}

#leftcolumn.genus{
	width:			auto;
}

#leftcolumn.higher{
	width:			auto;
}

#rightcolumn{
	display:		block;
	vertical-align:	top;
	width:			auto;
}

#bottomrow{
	width:			100%;
	display:		block;
	clear:			both;
}

#footerrow{
	width:			100%;
	display:		block;
	margin-top:		10px;
	text-align:		center;
	clear:			both;
}

#scinameheader{
	display:		block;
	font-weight:	bold;
	width:		90%;
	text-align:		center;
	font-size:		25px;
	margin-left:	auto;
	margin-right:	auto;
}

#scinameheader.species{
	width:		90%;
	text-align:		center;
	font-size:		25px;
	color: #4e1e97;
	margin-left:	auto;
	margin-right:	auto;
}

#scinameheader.genus{
	font-size:		21px;
	margin-left:	auto;
}

#scinameheader.higher{
	font-size:		25px;
	margin-left:	auto;
}

#sciname.species{
	font-weight:	bold;
	color:			black;
	font-style: italic;
}

#sciname.genus{
	font-weight:	bold;
	margin-top:		15px;
	margin-left:	10px;
}

#sciname.higher{
	font-weight:	bold;
	margin-top:		15px;
	margin-left:	10px;
}

#speciesNav{
	display:		block;
	font-weight:	bold;
	font-size:		16px;
}

#speciesNavSciname{
	font-style: italic;
}

#parenttaxonicon{
	border:			0;
	margin:			0;
	height:			10px;
}

#redirectedfrom{
	font-size:		16px;
	font-weight:	normal;
}

#ambiguous{
	display:		block;
	float:			left;
	font-weight:	bold;
	clear:			both;
}

#editbutton{
	width:			16px;
	margin:			0;
	padding:		0;
}

#editicon{
	border:			0;
}

#weblinks{
	margin-left: 	25px;
	margin-top: 	0;
	clear: 			both;
}

#family.species{
	display:		block;
	margin-left:	0;
	margin-top:		10px;
}

#family.genus{
	display:		block;
	margin-top:		10px;
	margin-left:	0;
}

#family.higher{
	display:		block;
	margin-top:		10px;
	margin-left:	0;
}

#project{
	display:		block;
	margin-top:		3px;
	margin-left:	20px;
}

#vernaculars{
	display:		block;
	margin-left:	0;
	margin-top:		10px;
	font-size:		16px;
}

#synonyms{
	display:		block;
	margin-left:	0;
	margin-top:		10px;
}

#nocentralimage{
	display:		block;
	width:			260px;
	height:			260px;
	border-style:	solid;
	margin-top:		5px;
	margin-left:	20px;
	text-align:		center;
}

#desctabs{
	height:			auto;
	width:			auto;
}

#desctabs.species{
	display:		none;
}

#desctabs.genus{
	display:		none;
	margin:			10px;
	clear:			both;
}

#desctabs.higher{
	display:		none;
	margin:			10px;
	clear:			both;
}

#nodesc{
	display:		block;
	margin:			70px 0px 20px 50px;
}

#img-div{
	height:			300px;
	overflow:		hidden;
}

#img-tab-div{
	border-top:		2px solid gray;
	margin-top:		2px;
}

#img-tab-expand{
	background:		#eee;
	padding:		10px;
	border:			1px solid #ccc;
	width:			100px;
	margin:			auto;
	text-align:		center;
}

#imagebox{
	padding:		10px 2px 10px 2px;
}

#spptaxonbox{
	margin-top:		10px;
}

#imgphotographer{
	text-align:		right;
	position:		relative;
	top:			-26px;
	left:			5px;
}

.parentlink{
	margin-left:		30px;
}

#links{
	display:		block;
	margin-left:		0;
	margin-top:			10px;
}

#links ul, li{
	margin:				0;
}

#linksbanner{
	font-weight:	bold;
	margin-bottom:		10px;

}

#linkslist{
}

#notfoundbox{
	display:		block;
	margin-top:		45px;
	margin-left:	20px;
}

#suggestionbox{
	margin-left:	15px;
	font-weight:	bold;
	font-size:		120%;
}

#suggestionlist{
	margin-left:	25px;
}

#centralimage{
	display: block;
	margin-left: 0;
	padding-left: 0;
	float: none;
	text-align:		left;
}

#centralimage img{
	border:		1px dotted black;
}

#centralimage a{

}

#centralimage a:hover img{
	border: 1px solid #0000ff;
}

#centralimage div.photographer{
	text-align:			right;
	margin: 		2px;
	margin-right:	20px;
	font-size:		75%;
}

/*Text Description*/
div.sptab{
	height:		330px;
	width:		94%;
	overflow: 	auto;
}

div.spptab{
	height:		330px;
	width:		94%;
	overflow: 	auto;
}

#descsource{
	text-align:	right;
	float:		right;
	padding:	10px 20px 10px 10px;
}

#clinfo{
	margin:				5px;
	padding:			5px;
	text-align:			center;
	vertical-align:		middle;
	background-color:	lightgreen;
	overflow: 			auto;
}

#obsImgDiv{
	height:			200px;
	padding:			15px;
	clear:			both;
	background-color:			#DCE6F2;
	overflow-x: scroll;
	white-space:nowrap;
}

#specImgDiv{
	height:			200px;
	padding:			15px;
	clear:			both;
	background-color:			#EBF1DE;
	overflow:auto;
	white-space:nowrap;
}

#obsImgDiv img, #specImgDiv img{
	margin: 		10px;
	height:		150px;
	border:		1px dotted grey;
	vertical-align: middle;
}

div.imgthumb{
	margin: 		5px;
	height:		220px;
	float:	 	left;
	text-align: 	center;
	position:		relative;
	overflow:		hidden;
}

div.imgthumb img{
	display: 	inline-block;
	max-height:	200px;
	margin: 	0px;
	border:		1px dotted grey;
}

div.imgthumb a:hover img {
	border: 1px solid #0000ff;
}

div.imgthumb div.photographer{
	font-size:		75%;
	text-align: 	right;
	width: 			auto;
	margin:			2px;
	margin-right:	15px;
}

div.mapthumb{
	margin: 5px;
	border: 0px;
	width: 175px;
	height: 220px;
	float: none;
	margin-left: 0;
	padding-left: 0;
}

div.mapthumb img{
	width: 165px;
	margin: 0px;
	border: 1px dotted black;
}

div.mapthumb a:hover img {
	border: 1px solid #0000ff;
}

div.spptaxon{
	text-align: 	center;
	width:			170px;
	height:			340px;
	float:	 		left;
	border: 		1px dotted gray;
	margin:			5px;
	padding:			5px;
}

div.sppimg{
	margin-left: 	auto;
	margin-right: 	auto;
	width:			160px;
	height:			150px;
	overflow:		hidden;
}

div.sppimg img{
	margin-left: 	auto;
	margin-right: 	auto;
	margin-top: 	5px;
	margin-bottom: 	5px;
	border:			1px dotted gray;
	max-width:		135px;
	max-height:		135px;
}

div.sppmap{
	margin-left: 	auto;
	margin-right: 	auto;
	border: 	0px;
	width: 	160px;
	height:	160px;
	text-align: center;
}

div.sppmap img{
	width: 130px;
	height:	120px;
	margin: 0px;
	border: 1px dotted black;
}

div.sppmap a{
	border: 1px solid #0000ff;
}

div.sppmap a:hover {

}

div.spptext{
	font-weight:		bold;
	margin-left:		auto;
	margin-right:		auto;
	margin-top:			7px;
	padding-top:		25px;
	padding-bottom:		50px;
	border:				1px dotted grey;
	width:				125px;
}

.taxonimage{
	z-index:			-1;
}