#innertable{
	width:90%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

#centralimage{

}

#centralimage img{

}

#centralimage a{

}

#centralimage a:hover img{

}

#centralimage div.photographer{

}

/*Text Description*/
div.sptab{

}

div.spptab{
	height:		200px;
	width:		500px;
	overflow: 	auto;
}

#descsource{
	text-align:	right;
	width:		400px;
	padding:	10px 20px 10px 10px;
}

#clinfo{

}

div.imgthumb{

}

div.imgthumb img{

}

div.imgthumb a{

}

div.imgthumb a:hover img {

}

div.imgthumb div.photographer{

}

div.mapthumb{

}

div.mapthumb img{

}

div.mapthumb a:hover img {


}

div.spptaxon{

}

div.sppimg{

}

div.sppimg img{

}

div.sppmap{

}

div.sppmap img{

}

div.sppmap a{

}

div.sppmap a:hover {

}

div.spptext{

}
