#innertable{
	width:			815px;
}

#centralimage{
	text-align:	center;
	margin:		15px;
}

#centralimage img{
	max-width:	450px;
	max-height:	320px;
	width: 		expression(this.width >= this.height ? 320: true);
	height:		expression(this.height >= this.width ? 320: true);
	border:		1px dotted black;
}

#centralimage a{

}

#centralimage a:hover img{
	border: 1px solid #0000ff;
}

#centralimage div.photographer{
	text-align:			right;
  	margin: 		2px;
	margin-right:	20px;
	font-size:		75%;
}

/*Text Description*/
td.desc{
	vertical-align:	top;
	width:			525px;
	height:			330px;
}

div.sptab{
	height:		330px;
	width:		480px;
	overflow: 	auto;
}

div.spptab{
	height:		300px;
	width:		500px;
	overflow: 	auto;
}

#descsource{
	text-align:	right;
	width:		400px;
	padding:	10px 20px 10px 10px;
}

#clinfo{
	margin:				5px;
	padding:			5px;
	text-align:			center;
	vertical-align:		middle;
	background-color:	lightgreen;
	overflow: 			auto;
}

div.imgthumb{
  margin: 		5px;
  height:		220px;
  float:	 	left;
  text-align: 	center;
  position:		relative;
  overflow:		hidden;
}

div.imgthumb img{
  	display: 	inline;
	max-height:	200px;
	width: 		expression(this.width >= this.height ? 200: true);
	height:		expression(this.height >= this.width ? 200: true);
  	margin: 	0px;
	border:		1px dotted grey;
}

div.imgthumb a{

}

div.imgthumb a:hover img {
	border: 1px solid #0000ff;
}

div.imgthumb div.photographer{
	font-size:		75%;
  	text-align: 	right;
  	width: 			auto;
  	margin:			2px;
  	margin-right:	15px;
}

div.mapthumb{
  margin: 5px;
  border: 0px;
  width: 175px;
  height: 220px;
  float: right;
  text-align: center;
}

div.mapthumb img{
  width: 165px;
  margin: 0px;
  border: 1px dotted black;
}

div.mapthumb a:hover img {
	border: 1px solid #0000ff;
}

div.spptaxon{
	text-align: center;
	width:		170px;
	float:	 	left;
  	border: 	1px dotted gray;
  	margin:		3px;
}

div.sppimg{
  	width:	160px;
  	height:	150px
}

div.sppimg img{
	margin-left: 	auto;
	margin-right: 	auto;
	margin-top: 	5px;
	margin-bottom: 	5px;
  	border:			1px dotted gray;
	max-width:		135px;
	max-height:		135px;
	width: 			expression(this.width >= this.height ? 135: true);
	height:			expression(this.height >= this.width ? 135: true);
}

div.sppmap{
  margin: 	2px;
  border: 	0px;
  width: 	160px;
  height:	160px;
  text-align: center;
}

div.sppmap img{
	margin-left: 	auto;
	margin-right: 	auto;
	width: 130px;
	height:	120px;
	margin: 0px;
	border: 1px dotted black;
}

div.sppmap a{
	border: 1px solid #0000ff;
}

div.sppmap a:hover {

}

div.spptext{
	font-weight:		bold;
	margin-left:		auto;
	margin-right:		auto;
	padding-top:		25px;
	padding-bottom:		50px;
	border:				1px dotted grey;
  	width:				125px;
}
