#spid{
	display:	block;
}
#InstitutionCode{
	display:	block;
}
#CollectionCode{
	display:	block;
}
#GlobalUniqueIdentifier{
	display:	block;
}
#DateLastModified{
	display:	block;
}
#BasisOfRecord{
	display:	block;
}
#CollID{
	display:	block;
}
#CatalogNumber{
	display:	block;
}
#CatalogNumberNumeric{
	display:	block;
}
#InformationWithheld{
	display:	block;
}
#Remarks{
	display:	block;
}
#TidInterpreted{
	display:	block;
}
#ScientificName{
	display:	block;
}
#SciName{
	display:	block;
}
#HigherTaxon{
	display:	block;
}
#Kingdom{
	display:	block;
}
#Family{
	display:	block;
}
#Genus{
	display:	block;
}
#SpecificEpithet{
	display:	block;
}
#InfraspecificRank{
	display:	block;
}
#InfraSpecificEpithet{
	display:	block;
}
#AuthorYearOfScientificName{
	display:	block;
}
#NomenclaturalCode{
	display:	block;
}
#IdentificationQualifier{
	display:	block;
}
#taxonnotes{
	display:	block;
}
#IdentifiedBy{
	display:	block;
}
#DateIdentified{
	display:	block;
}
#HigherGeography{
	display:	block;
}
#Country{
	display:	block;
}
#StateProvince{
	display:	block;
}
#County{
	display:	block;
}
#Locality{
	display:	block;
}
#MinimumElevationInMeters{
	display:	block;
}
#MaximumElevationInMeters{
	display:	block;
}
#VerbatimElevation{
	display:	block;
}
#DecimalLatitude{
	display:	block;
}
#DecimalLongitude{
	display:	block;
}
#GeodeticDatum{
	display:	block;
}
#CoordinateUncertaintyInMeters{
	display:	block;
}
#VerbatimCoordinates{
	display:	block;
}
#VerbatimLatitude{
	display:	block;
}
#VerbatimLongitude{
	display:	block;
}
#VerbatimCoordinateSystem{
	display:	block;
}
#UtmNorthing{
	display:	block;
}
#UtmEasting{
	display:	block;
}
#UtmZoning{
	display:	block;
}
#GeoreferenceProtocol{
	display:	block;
}
#GeoreferenceSources{
	display:	block;
}
#GeoreferenceVerificationStatus{
	display:	block;
}
#GeoreferenceRemarks{
	display:	block;
}
#CollectingMethod{
	display:	block;
}
#EarliestDateCollected{
	display:	block;
}
#LatestDateCollected{
	display:	block;
}
#VerbatimCollectingDate{
	display:	block;
}
#Collector{
	display:	block;
}
#OtherCollectors{
	display:	block;
}
#CollectorNumber{
	display:	block;
}
#FieldNumber{
	display:	block;
}
#FieldNotes{
	display:	block;
}
#IndividualCount{
	display:	block;
}
#Attributes{
	display:	block;
}
#RelatedInformation{
	display:	block;
}
#TypeStatus{
	display:	block;
}
#GenBankNumber{
	display:	block;
}
#OtherCalaogNumbers{
	display:	block;
}
#RelatedCatalogItems{
	display:	block;
}
#LocalitySecurity{
	display:	block;
}
#DBPK{
	display:	block;
}
#Habitat{
	display:	block;
}
#AssocSpp{
	display:	block;
}
#ChromosomeNumber{
	display:	block;
}
#Phenology{
	display:	block;
}
#CultivationStatus{
	display:	block;
}
#HerbariumAcronym{
	display:	block;
}
#ObservationType{
	display:	block;
}
#DateEntered{
	display:	block;
}
#CurrentTimeStamp{
	display:	block;
}

