.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/.jsdtscope
.project
.settings/org.eclipse.wst.jsdt.ui.superType.container
.buildpath
/collections/editor/includes/config/occurVarDefault.php
/collections/editor/includes/config/occurVarGenObsDefault.php
/config/dbconnection.php
/config/symbini.php
.settings/org.eclipse.php.core.prefs
.idea/
vendor/
!**/.gitkeep
temp/proxies/
*.DS_Store
