body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#innertext{
	padding:	10px;
	font-size:	12px;
	background-color: #ffffff;;
}

#titleDiv{
	font-weight: bold;
	font-size: 16px;
	width: 595px;
}

#querySymbolDiv{
	float:right;
}

#navDiv{
	width: 600px;
	clear: both;	
}

#occdiv{
	position: relative;
	width: 595px;
	height: 600px;
}

#admindiv{
	width: 595px;
}

#occedittabs{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}


/* Field entry divs and input objects */
#catalogNumberDiv {
	display: none;
}

#otherCatalogNumbersDiv {
	float: left;
	margin-right: 2px;
}

#otherCatalogNumbersDiv input {
	width: 95px;
}

#recordedByDiv {
	float:left;
	margin-right: 2px;
}

#recordedByDiv input{
	width:	200px;
}

#recordNumberDiv {
	float:left;
	margin-right: 2px;
}

#recordNumberDiv input{
	width:	60px;
}

#eventDateDiv {
	float:left;
}

#eventDateDiv input{
	width:	110px;
}

#associatedCollectorsDiv {
	float:left;
	margin-right: 2px;
	margin-top:2px;
}

#associatedCollectorsDiv input {
	width: 300px;
}

#dupesDiv{
	float: right;
	margin-top: 10px; 
}

#dupeMsgDiv{
	position: absolute;
	top: 67px;
	left: 350px;
	display:none;
	width:200px;
	background-color:#FFFFFF;
	z-index: 10; 
	padding:25px;
	font-weight:bold;
}

#dupeMsgDiv div{
	width:150px;
	border:2px outset blue;
	padding:3px;
}

#dateToggleDiv{
	float:left;
	margin:15px 5px;
}

#dateextradiv{
	display: block;
}

#idrefToggleDiv{
	display:none;
}

#idrefdiv{
	display:none;
	clear:both;
}

#verbatimEventDateDiv {
	float:left;
	margin: 2px
}

#verbatimEventDateDiv input{
	width:	200px;
	display: block;
}

#ymdDiv {
	display: none;
}

#dayOfYearDiv {
	display:none;
}

#endDateDiv {
	display:none;
}

#exsDiv {
	float:left;
	margin: 2px
}

#ometidDiv{
	float: left;
}

#exstitleinput {
	width: 500px;
}

#exsnumberDiv {
	float:left;
	margin-left:5px;
}

#exsnumberDiv input{
	width:50px;
}

#scinameDiv {
	float:left;
}

#scinameDiv input{
	width:390px;
}

#scientificNameAuthorshipDiv {
	display:none;
}

#identificationQualifierDiv {
	display:none;
}

#familyDiv {
	display:none;
}

#identifiedByDiv {
	display:none;
}

#dateIdentifiedDiv{
	display:none;
}

#identificationReferencesDiv{
	display:none;
}

#identificationRemarksDiv{
	display:none;
}

#countryDiv{
	float:left;
	margin-right: 2px;
}

#countryDiv input{
	width:	150px;
}

#stateProvinceDiv{
	float:left;
	margin-right: 2px;
}

#stateProvinceDiv input{
	width:	150px;
}

#countyDiv{
	float:left;
	margin-right: 2px;
}

#countyDiv input{
	width:	150px;
}

#municipalityDiv{
	display:none;
}

#localityDiv{
	float:left;
	margin-top:2px;
}

#localityDiv input{
	width:	500px;
}

#localSecurityDiv{
	display:none;
}

#localAutoDeactivatedDiv{
	display:none;
}

#localityExtraToggle{
	display:none;
}

#decimalLatitudeDiv{
	float:left;
	margin-right: 2px;
	margin-top:2px;
}

#decimalLatitudeDiv input{
	width:	76px;
}

#decimalLongitudeDiv{
	float:left;
	margin-right: 2px;
	margin-top:2px;
}

#decimalLongitudeDiv input{
	width:	82px;
}

#coordinateUncertaintyInMetersDiv{
	float:left;
	margin-right: 2px;
}

#coordinateUncertaintyInMetersDiv input{
	width:	70px;
}

#googleDiv{
	float:left;
	margin: 17px 2px 0px 2px;
	cursor:	pointer;
}

#googleDiv img{
	border:	0px;
	width:	13px;
}

#geoLocateDiv{
	float:left;
	margin: 12px 2px 0px 2px;
}

#geoLocateDiv img{
	width:	18px;	
}

#geoToolsDiv{
	float:left;
	margin: 12px 2px 0px 2px;
	z-index: 10; 
}

#coordAidDiv{
	display:	none;
}

#coordCloningDiv{
	display:	none;
}

#dmsAidDiv{
	float:	left;
	margin-top: 10px;
	margin-left: 20px;
	padding:	15px 10px;
	background-color: lightyellow;
	border: 1px solid yellow;
	width:	260px;
}

#utmAidDiv{
	float:	left;
	margin-top: 10px;
	margin-left: 20px;
	padding:	15px 10px;
	background-color:	lightyellow;
	border:1px solid yellow;
	width:150px;
	margin-bottom:10px;
}

#trsAidDiv{
	display: none;
}

#geodeticDatumDiv{
	display:none;
}

#elevationDiv{
	float: left;
	margin-right: 2px;
	margin-top:2px;
}

#elevationDiv input{
	width:55px;
}

#verbatimElevationDiv{
	float: left;
	margin-right: 2px;
	margin-top:2px;
}

#verbatimElevationDiv input{
	width:	150px;
}

#depthDiv{
	float: left;
	margin-right: 2px;
	margin-top:2px;
}

#depthDiv input{
	width:55px;
}

#verbatimDepthDiv{
	float: left;
	margin-right: 2px;
	margin-top:2px;
}

#verbatimDepthDiv input{
	width:	150px;
}

#georefExtraToggleDiv{
	display:none;
}

#georefExtraDiv{
	display:block;
}

#verbatimCoordinatesDiv{
	float: left;
	margin-top: 2px;
}

#verbatimCoordinatesDiv input{
	width:	225px;
}

#georeferencedByDiv{
	display:none;
}

#footprintWktDiv{
	display:none;
}

#georeferenceProtocolDiv{
	display:none;
}

#georeferenceSourcesDiv{
	display:none;
}

#georeferenceVerificationStatusDiv{
	display:none;
}

#georeferenceRemarksDiv{
	display:none;
}

#habitatDiv{
	float: left;
	margin-top:2px;
	z-index: 1; 
}

#habitatDiv input{
	width: 550px;
}

#substrateDiv{
	float: left;
	margin-top:2px;
}

#substrateDiv input{
	width: 550px;
}

#associatedTaxaDiv{
	display:none;
}

#verbatimAttributesDiv{
	display:none;
}

#occurrenceRemarksDiv{
	float: left;
	margin-top:2px;
}

#occurrenceRemarksDiv input{
	width: 550px;
}

#occurrenceRemarksDiv span{
	margin-left: 5px;
	cursor: pointer;
}

#occurrenceRemarksDiv img{
	width:15px;
}

#dynPropToggleSpan{
	display:none;
}

#dynamicPropertiesDiv{
	display:none;
}

#lifeStageDiv{
	display:none;
}

#sexDiv{
	display:none;
}

#individualCountDiv{
	display:none;
}

#samplingProtocolDiv{
	display:none;
}

#preparationsDiv{
	display:none;
}

#reproductiveConditionDiv{
	display:none;
}

#establishmentMeansDiv{
	display:none;
}

#cultivationStatusDiv{
	display:none;
}

#typeStatusDiv{
	display:none;
}

#dispositionDiv{
	display:none;
}

#occurrenceIdDiv{
	display:none;
}

#fieldNumberDiv{
	display:none;
}

#institutionCodeDiv{
	display:none;
}

#collectionCodeDiv{
	display:none;
}

#ownerInstitutionCodeDiv{
	display:none;
}

#basisOfRecordDiv{
	display:none;
}

#languageDiv{
	display:none;
}

#labelProjectDiv{
	display:none;
}

#duplicateQuantityDiv{
	display:none;
}

#dataGeneralizationsDiv{
	display:none;
}

#processingStatusDiv{
	display:none;
}

#pkDiv{
	display:none;
}

/* Button Controls */
#addButtonDiv{
	display:none;
}

#editButtonDiv{
	float: left;
}

/*Tabs */
#detTab{
	display: none;
}

#imgTab{
	display: none;
}

#resourceTab{
	display: none;
}

#genTab{
	display: none;
}

#adminTab{
	display: none;
}

/* Misc styling */
#fullform fieldset{
	border: 0px;
}

#fullform fieldset legend {
	display: none;
}

img.docimg { 
	border:			0px;
	width:			9px;
	margin-bottom:	2px; 
}

table { 
	font-family: 	Arial, Helvetica, sans-serif; 
	font-size: 		12px;
}