@import "./mixins.less";

@media only screen and (max-width: 600px) {
  #infographic-dropdown {
    display: none;
  }
}

.will-v-flip, .v-flip {
  transition: transform 0.5s;
}

.v-flip {
  transform: rotate(-180deg);
}

.will-collapse, .is-collapsed {
  transition: opacity 0.5s, max-height 1s;
}

.will-collapse {
  max-height: 1000px;
}

.is-collapsed {
  opacity: 0;
  max-height: 0;
}

.rounded-border {
  border-radius: 1em;
}

.slider {
  width: 100% !important;
}

.slider-tick {
  width: 0.25em !important;
  border-radius: 0.1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.slider-handle {
  border: 0.2em solid white !important;
}

.slider-handle, .tick-slider-selection, .in-selection {
  background-image: linear-gradient(to bottom, #5FB021 0, #288000 100%) !important;
  background-image: -webkit-linear-gradient(top, #5FB021 0, #288000 100%) !important;
  background-image: -o-linear-gradient(top, #5FB021 0, #288000 100%) !important;
}

.dropdown-disabled, .dropdown-disabled * {
  opacity: 0.7 !important;
}

.dropdown-disabled button {
  cursor: not-allowed;
}

#infographic-dropdown {
 	* {
  	color: white !important;
  }
  h4 {
  	font-weight: 400; 
  	font-size: 1.15rem;
  }
}

#sidebar input::placeholder {
  color: #9FD07A;
}

#canned-searches {
	height: 330px;
	h3 {
		font-size: 22px;
		font-weight: bold;
	}
	.card {
  	box-shadow: 0 0.1em 0.5em 0.1em rgba(100, 100, 100, 0.3);
  	width: 92%;
  	margin: 0 auto;
	}
	.card:hover {
  	background: #DFEFD3 !important;
	}

	.card a:hover {
  	text-decoration: none;
	}

	.canned-title {
		font-size: 0.9em;
		color: @dark-green;
		font-weight: 700;
		line-height: 1rem;
	}

	.card-text {
  	font-weight: bold;
  	color: #1E352F !important;
  	font-size: initial;	
	}

	.scroll-btn {
  	border-radius: 50%;
	}

	.scroll-btn:active {
  	background: rgba(0, 100, 0, 0.1) !important;
	}
	.canned-wrapper {
		padding: 0 8px;
	}

	.canned-search-result {
		color: #3B631D !important;
		background: #EFFFE3;
		text-align: center;
		border-radius: 2%;
		max-width: 15em;
		.selected-indicator {
			display: none;
			color: @med-green;
		}
		.btn {
			font-size: .9rem;
			font-weight: 600;
			text-align: center;
		}
		&.selected {
			background-color: white;
			
			.card {
				background-color: @light-green;
			}
			.btn-secondary {
				border-color: @med-green !important;
			}  
			.selected-indicator {
				margin-top: -8px;
				display: block;
				font-size: 1.3rem;
			}
		}
	}
	.slick-next, 
	.slick-prev {
		top: 40%;
		font-size: 30px;
	}
	.slick-prev {
		left: -20px;
	}
	.slick-next {
		right: -42px;
	}
	
}

#sidebar *, h1, h2, h3, h4, h5 {
  color: #1E352F;
}

#view-opts {
  border-bottom: 1px dotted darkgreen;
  font-size: 0.8em;
  margin-top: 1em;
  .no-results {
  	color: @gray-type;
  }
 	h3 {
 		font-size: 22px;
 	}
 .fake-button {
 	 cursor: pointer;
 	 border-radius: 3px;
 	 padding: 0.2em 0.5em;
		span {
			padding-left: 3px;
		}
	}
	.settings {
  	.fake-button {
 	 		padding: 0.3em;
  		display: inline-block;
  		width: 70px;
  	}
  }
}
.go-top {
	margin-top: 1em;
}


