@import "./mixins.less";

@media only screen and (max-width: 600px) {
  #infographic-dropdown {
    display: none;
  }
}

.will-v-flip, .v-flip {
  transition: transform 0.5s;
}

.v-flip {
  transform: rotate(-180deg);
}

.will-collapse, .is-collapsed {
  transition: opacity 0.5s, max-height 1s;
}

.will-collapse {
  max-height: 1000px;
}

.is-collapsed {
  opacity: 0;
  max-height: 0;
}

.rounded-border {
  border-radius: 1em;
}

.slider {
  width: 100% !important;
}

.slider-tick {
  width: 0.25em !important;
  border-radius: 0.1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.slider-handle {
  border: 0.2em solid white !important;
}

.slider-handle, .tick-slider-selection, .in-selection {
  background-image: linear-gradient(to bottom, #5FB021 0, #288000 100%) !important;
  background-image: -webkit-linear-gradient(top, #5FB021 0, #288000 100%) !important;
  background-image: -o-linear-gradient(top, #5FB021 0, #288000 100%) !important;
}

.dropdown-disabled, .dropdown-disabled * {
  opacity: 0.7 !important;
}

.dropdown-disabled button {
  cursor: not-allowed;
}

.canned-title {
  font-size: 0.8em;
}

#infographic-dropdown * {
  color: white !important;
}

#sidebar {
  padding: 2em;
  width: 25em;
}

#sidebar input::placeholder {
  color: #9FD07A;
}

#canned-searches .card {
  box-shadow: 0 0.1em 0.5em 0.1em rgba(100, 100, 100, 0.3);
}

#canned-searches .card:hover {
  background: #DFEFD3 !important;
}

#canned-searches .card a:hover {
  text-decoration: none;
}

#canned-searches .card-text {
  font-weight: bold;
  color: #1E352F !important;
  font-size: initial;
}

#canned-searches .scroll-btn {
  border-radius: 50%;
}

#canned-searches .scroll-btn:active {
  background: rgba(0, 100, 0, 0.1) !important;
}

#canned-searches .canned-search-result {
  color: #3B631D !important;
  background: #EFFFE3;
  text-align: center;
  border-radius: 2%;
  max-width: 15em;
}

#sidebar *, h1, h2, h3, h4, h5 {
  color: #1E352F;
}

#view-opts {
  border-bottom: 1px dotted darkgreen;
  font-size: 0.9em;
}

#view-opts .fake-button {
  cursor: pointer;
  border-radius: 10%;
  padding: 0.5em;
}