@import "./mixins.less";

#react-header {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 10000;

  #site-header {
    background-size: 100% 100%;
    box-shadow: 0 0.5em 1em rgba(100, 100, 100, 0.5);

    height: 8em;
    padding-top: 4em;
    transition: height 0.5s, padding-top 0.5s;

    #site-header-logo {
      margin-left: 4em;
      border: 0.5em solid rgba(255, 255, 255, 0.2);
    }

    #site-header-dropdowns {
      .text-uppercase();
      .text-bold();

      ul {
        .text-center();
      }

      li {
        margin-left: 1em;
        margin-right: 1em;
      }
    }

    .header-button {
      color: white;
      background: none;
      font-size: 0.9em;
      .border-rounded-sm();
      .text-uppercase();
      .text-bold();
    }
  }
}

.site-header-scroll {
  height: 4em !important;
  padding-top: 0 !important;
  transition: height 0.5s, padding-top 0.5s;
}