@import "./mixins.less";
//Variable for project paths since relative paths not allowed
//@subdir: "/portal";
@subdir: "";

#react-header {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 10000;
  height: 100px;
	.header-wrapper {
    background-size: 100% auto;
  	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
	}
  #site-header {
		max-width: 1100px;
    height: 100%;
    padding: 2.7em 0 0 0;
    transition: height 0.5s, padding-top 0.5s;
		.navbar-brand {
			padding-top: 0;
			margin: 0 0 0 -7px;
			#site-header-logo {
				//margin-left: 4em;
				//margin-left: -22px;
				/*border: 0.5em solid rgba(255, 255, 255, 0.2);*/
				width: 79px;
				height: auto;
			}
		}
		&.site-header-scroll {
			.navbar-brand {
				padding-top: .8rem;
			}
		}
		.navbar-expand-lg .navbar-collapse {
			//flex-basis: 
		}
    #site-header-dropdowns,
    .header-button {
      .text-uppercase();
      /*.text-bold();*/
      font-weight: 400; 
      letter-spacing: 1px; 
      a.nav-link {
	      text-shadow: 0px 0px 3px @dark-grn-type;
	      &:hover {
	      	text-shadow: none;
	      }
	    }

      ul {
        .text-center();
        padding-left: 1.5em;
				li {
					margin-left: .7em;
					margin-right: .7em;
				}
      }

    }

    .header-button {
      font-size: 0.9em;
      color: white;
      background: none;
	    text-shadow: 0px 0px 3px @dark-grn-type;
      /*.border-rounded-sm();
      .text-uppercase();
      .text-bold();*/
    }
    
  }
  .search-wrapper {
  	flex-basis: 400px;
  	margin-right: -41px;
		padding: 0px 20px 0 20px;
		text-align: right;
  	.row {
	  	margin: 0;
	  }
	  .header-button-bar {
	  	justify-content: flex-end;
	  	margin-right: 28px;
	  	max-height: 30px;
	  }
    a.disabled {
      pointer-events: none;
      flex-basis: 40%;
    }
		.search-widget {
			padding: .5rem;
			input {
				margin-right: 10px;
				width: 207px;
				height: 36px;
				border: 2px solid @med-green;
				&::placeholder {
					color: @gray-type;
				}
			}
		}
	}
	
	#site-header.site-header-scroll {
		.search-wrapper {
			padding-top: .3rem;
		}
	}
}

.site-header-scroll {
  height: 3.8em !important;
  padding-top: 0 !important;
  transition: height 0.5s, padding-top 0.5s;
}