@import "./mixins.less";


#react-inventory-app {
	/* p and h2 defaults - we're trying to standardize to these as much as possible - ap */
	p,
	li {
		font-size: 1.4rem;
		line-height: 1.875rem;
		margin-bottom: .7rem;
	}
	h2 {
		font-size: 2.25rem;
		line-height: 2.5rem;
		margin-top: 1.4rem;
		margin-bottom: 3rem;
		font-weight: 700;
	}

	.inventory-header {//common to both chooser and detail view
		width: 100%;
		height: 155px;
		background-image: url("/images/inventory/explore_subhead.jpg");
		background-size: cover;
		color: white;

		a {
			color: white !important;
		}
	}

	.verticalSeparator {
		border-right: 1px dotted @dark-gray;
		margin: 0 0.5em;
	}

	.inventory-chooser { //select from a list of projects
		overflow: hidden;
		strong {
			text-transform: uppercase;
		}
		.project-item {
			clear: both;
			margin-bottom: 1.7em;
			border: 1px dotted @dark-gray;
			border-radius: 0.5em;

			.project-header {
				border-top-left-radius: 0.5em;
				border-top-right-radius: 0.5em;
				background-color: @light-green;
				padding: 0.5em 0.5em 0.8em 0.5em;
				margin-left: 0;
				margin-right: 0;

				.btn-primary {
					margin-top: -11px;
					display: inline-block;
					font-size: 16px;
					padding: 8px 10px;
				}

				h3 {
					display: inline-block;
					font-size: 2rem;
					font-weight: 700;
					padding: 0.3em 0.8em;
					margin-bottom: 0;
				}
			}
			.project-other {
				background-color: @light-green;
			}
			.project-content {
				padding: 1.3rem 6.3rem;				
				font-size: 1.4rem;
				line-height: 1.875rem;
			}
			@media (max-width: @medium) {
				.project-header {
					.btn-primary {
						margin-left: 1em;
						margin-top: 0;
					}
					.more-less {
						margin-top: 2px;
					}
					h3 {
						display: block;
					}
				}
				.project-content {
					padding: 1em 1.8em;
				}
			}
			.project-expanded {
				display: flex;
				flex-flow: row wrap;
				height: 560px;
				> * {
					max-height: 100%;
				}
				&.no-map {
					height: 350px;
				}
				.project-image {
					overflow: hidden;
					h2 {
						position: absolute;
						color: white;
						margin: .5em 35% 1em 5%;
						text-shadow: 1px 3px 3px rgba(0,0,0, 0.3); 
						letter-spacing: -0.3px;
						font-size: 3rem;
						line-height: 3.25rem;
						font-weight: 700;
						@media (max-width: 544px) {
							font-size: 2rem;
							line-height: 2.25rem;
							margin-right: 50%;
						}
					}
					img {
						max-height: 100%;
						width: 100%;
						height: auto;
						object-fit: cover;
						border-top-left-radius: .5em;
						border-bottom-left-radius: .5em;
					}
				}
				@media (max-width: @medium) {

					height: auto;	
					&.no-map {
						height: auto;
					}
					.project-image {
						h2 {
							margin: .5em 5% 1em 5%;
						}
						img {
							max-height: 180px;
							border-bottom-left-radius: 0;
						}
					}
				}
				@media (max-width: @small) {

					height: auto;	
					&.no-map {
						height: auto;
					}
					.project-image {
						h2 {
							margin: .5em 5% 1em 5%;
						}
						img {
							max-height: 180px;
							border-bottom-left-radius: 0;
						}
					}
				}
			}
			.project-description {
				padding: 1.5em 2em;
				font-size: 1.125rem;
				line-height: 1.5rem;
				
				@media (max-width: @large) {
					padding: 1.5em 1.5em 3.5em;
				}
			}
			.btn.project-explore {
				position: absolute;
				bottom: 15px;
				right: 20px;
				border: 2px solid @light-green;
				font-size: 16px;
				padding: 8px 10px;
			}
			.more-less {
				float: right;
				font-size: 14px;
				color: @med-green;
				text-transform: uppercase;
				margin-top: 10px;
				margin-right: 10px;
				cursor: pointer;

				svg {
					margin-bottom: -4px;
					margin-left: 0.5em;
					font-size: 1.8em;
				}
			}
			.less{
				position: absolute;
				right: 10px;
				top: 10px;
				color: black;
			}
			
			@media (max-width: @medium) {
				.btn.project-explore {
					right: auto;
					left: 25px;
				}
				.less {
					top: auto;
					bottom: 20px;
				}
			
			}
		}
	}

	.inventory-detail { //view project detail

		h3 {
			display: inline-block;
			color: @med-green;
			font-weight: 600;
			font-size: 2rem;
			margin-right: .3em;
		}
		.map {
			overflow: hidden;
			max-width: 100%;
			width: 1100px;
			height: 555px;
			> .col > div:last-child {
				border-top: 1px dashed black;
				border-bottom: 1px dashed black;
			}
			@media (max-width: @large) {
				width: 690px;
				height: 420px;
			}
			@media (max-width: @medium) {
				width: 510px;
				height: 320px;
			}
			
			
		}
		.project-key {
			
			.fa-list-ul {
				color: @med-green;
			}

			.project-icons {
				background: @light-green;
				display: inline-block;
				padding: 7px 12px; 
				border-radius: .25rem;
				svg {
					width: 24px;
					height: 23px;
				}
			}

			p {
				display: inline;
				margin-bottom: 0;
			}
		}

		.project-header {
			span{
				font-size: 1.4rem;
			}
		}

		.research-checklists {
			border-bottom: 1px dashed black;
			padding: 0;
			margin: 5px 15px 10px 15px;
		}
		.checklists-table {

			.table-header {
				background-color: @light-green;
				display: flex;
				flex-flow: row nowrap;
				padding: 0.6em;
				border-bottom: 1px dashed black;
				margin-bottom: .8em;

				@media (max-width: @medium) {
					flex-flow: row wrap;
				}
				.table-filter {
					/*width: 55%;*/

					input {
						color: @med-green;
						border-color: @med-green;
						border-style: solid;
						font-size: 1.4rem;
						width: 92%;
						padding: 0 10px;
						border-radius: 6px;
						line-height: 2em;
						&::placeholder {
							color: @med-green;
						}
					}
					.fa-times-circle {
						color: @med-green;
						margin-left: .5em;
						font-size: 1.5rem;
					}
					
					@media (max-width: @medium) {
						.verticalSeparator {
							display: none;
						}
						input {
							width: 85%;
						}
					}
				}

				.table-nav {
					display: flex;
					justify-content: space-between;
					flex-flow: row nowrap;
					/*width: 45%;*/

					.table-sort {
						display: flex;
						flex-flow: row nowrap;
						justify-content: center;
						width: 40%;
						padding-top: .3em;
						button {
							color: @med-green;
							background-color: transparent;
							padding: 0;
							vertical-align: top;
							width: 48px;
							height: 34px;
							&.sort-asc,
							&.sort-desc {
								color: black;
								background-color: white !important;
							}
						}
						@media (max-width: @medium) {
							margin-top: .5em;
							width: 30%;
						}
					}
					@media (max-width: @medium) {
						.verticalSeparator {
							margin-top: 1em;
						}
					}
					.lngSort img { //East-west icons
						height: 36px;
					}

					.nameSort {
						font-size: 1.5em;
					}

					.table-pag-top {
						width: 60%;
						padding-top: .2em;
						display: flex;
						flex-flow: row wrap;
						text-align: center;
						button {
							color: @med-green;
							padding: 0 !important;
							flex-basis: 33%;
							font-size: 2em;
							line-height: 2em;
							&:disabled{
								color: #d7eac5;
							}
						}
						.rows-current {
							flex-basis: 33%;
							display: inline-block;
							font-size: 1.3rem;
						}
						.rows-results {
							flex-basis: 100%;
							display: block;
							text-transform: uppercase;
							font-size: 0.8rem;
							.rows-total {
								font-weight: bold;
							}
						}
						
						@media (max-width: @medium) {
							margin-top: .5em;
							padding-top: .3em;
							width: 70%;
							button{
								flex-basis: 10%;
							}
							.rows-current {
								flex-basis: 40%;
								font-size: 1.2rem;
								padding-top: .1em;
							}
							.rows-results {
								flex-basis: 40%;
								font-size: 1.2rem;
								padding-top: .1em;
								.rows-label {
									display: none;
								}
							}
						}
					}
				}
			}

			table {
				width: 100%;

				tr {
					border-bottom: 1px dotted @dark-gray;

					td {
						padding: 0.6em 0;
						font-size: 1.25rem;
					}

					td:nth-child(1) {
						width: auto;
					}

					td:nth-child(2) {
						width: 140px;
						text-align: right;

						a {
							background: @light-green;
							padding: 6px 12px; 
							border-radius: 4px;
							svg {
								width: 24px;
								height: 23px;
							}
						}

						.fa-list-ul {
							color: @med-green;
						}

					}
				}
			}

			.table-footer .table-pag-bottom{
				display: flex;
				justify-content: space-between;
				margin-top: 1.75em;

				a, button {
					text-transform: uppercase;
					color: @med-green!important;
					padding: 0;

					&:disabled {
						color: lightgrey!important;
					}
				}
				.previous,
				.next {
					font-size: 20px;
					line-height: 1em;
					display: flex;
					flex-flow: row nowrap;
					span {
						padding-top: .5em;
					}
				}
				.previous {
					svg {
						margin-right: .2em;
					}
				}
				.next {
					svg {
						margin-left: 0.2em;
					}
				}				

			}
		}
	}
}
#react-explore-app, #react-identify-app {
	.sidebar-wrapper {
		.stat {
			display: flex;
			flex-flow: row nowrap;
		}
		input:disabled+label {
			color: @gray-type;
		}
		.view-opt-wrapper {
			label {
				margin-bottom: 0;
			}
		}
		.search-widget {
			position: relative;

			.btn-search {
				width: 35px;
				height: 35px;
			}
		}
	}
	.results-wrapper {
		flex-basis: 710px;
	}
	.family-group {
		clear: both;
	}
	.inventory-main {
		hr {
			border-top: 4px solid @med-green!important;
			width: 100%;
			margin: 0px 15px 10px 15px;
		}

		#search-results {
			position: relative;
			.search-result-grid {
				grid-auto-rows: 14em;
			}
			h4 {
				text-transform: uppercase;
				color: @dark-green;
				font-size: 24px;
				font-weight: bold;
			}

			.search-result {
				&.list-result {
					box-shadow: none;
					border: none;
				}

				.card-body {
					padding: 4px 0;


					.fa-square {
						width: 8px;
						height: 8px;
						margin-bottom: 5px;
					}

					.card-text {
						font-size: 20px !important;
						line-height: 1.3em;
						margin-left: 10px;
					}

					.vouchers {
						font-weight: normal;
						margin-left: 40px;
						text-align: left;
					}
				}
				&.grid-result {
					.card-body {
						.card-text {
							font-size: 13px !important;
							margin-left: 0px;
							text-align: center;
						}
					}
				}
			}
		}
	}

	.inventory-header {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding-bottom: .4em;
		border-bottom: 3px solid @light-green;
		.btn-primary {
			background-image: none!important;
			text-transform: uppercase;
			border-radius: .25em;
		}
		.current-wrapper {
			height: auto;
			margin: 3px 0 8px 0;
			flex-basis: 70%;
			display: flex;
			flex-flow: row nowrap;
			@media (max-width: @small) {
				flex-flow: row wrap;
			}
			.button-wrapper {
				margin: 0 0 0 12px;
			}
			.btn-primary {
				background-color: @med-green!important;
				height: 55px;
				width: 178px;
				min-width: 178px;
				font-size: 1.7rem;
				line-height: 2rem;
			}
		}
		.alt-wrapper {
			text-align: right;
			> div {
				font-size: .875rem;
			}
			.btn-primary {
				background-color: #b0b0b0 !important;
				font-size: .875rem;
				&.alt-button:hover{
					background: @med-green !important;
				}
			}
		}
		&.identify-header {
			.current-wrapper {
				.btn-primary {
					background-color: @dark-grn-type !important;
				}
			}
		
			.view-opts {
				margin: 0;
				flex-basis: 100%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				border-bottom: none !important;
				margin-top: 0px;
				.filter-status {
					text-transform: uppercase;
					display: inline-block;
					font-size: .9rem;
					line-height: 1.6em;
					color: @dark-grn-type;
					vertical-align: middle;
					margin-right: 6px;
				}

				h3 {
					text-transform: uppercase;
					font-weight: normal !important;
					font-size: 1em;
					margin-top: .3em;
				}
				.button-wrapper {
					flex-basis: 100%;
				}
			}
		}
	}
	#search-results {
		.family-group {
			padding-bottom: 1em;
			margin-bottom: 1em;
			border-bottom: 1px dotted @dark-green;
		}
		svg.fa-square {
			color: @med-green;
		}
		.grid-result {
			span.sci-name,
			span.common-name {
				display: block;
			}
		}
		.list-result {

			.card-body {
				padding: 2px 0;

				.author {
					font-weight: 400;
				}

				.vouchers {
					font-size: 18px;
				}
			}
		}
	}
}


.explore, .identify {

  h2 {
    font-weight: bold;
  }

  .authors {
    font-size: 18px;
  }

  .abstract {
    font-size: 22px;
  }

  .more-less {
    text-transform: uppercase;
    color: @med-green;
    margin-bottom: 20px;

    svg {
      margin-right: 10px;
    }
  }
}


