.search-result-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 13em;
  grid-gap: 0.9em;
  justify-content: center;
  @media screen and (max-width: @xlarge) {
  	grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: @large) {
  	grid-template-columns: repeat(3, 1fr);
  }
  
}

.search-result {
  //box-shadow: 0 0.1em 0.5em 0.1em rgba(100, 100, 100, 0.3);
  box-shadow: 0 .1em .3em .1em hsla(0,0%,0%,.25);
  &:hover {
    background: #DFEFD3 !important;
  }

  &.grid-result {
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }

  &.list-result {
    width: 100%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  .card-text, .canned-title {
    font-weight: bold;
    color: #1E352F !important;
    font-size: initial;
  }
  .card-text {
    font-weight: 600; 
    font-size: medium; 
    line-height: 1rem;
    text-align: center;
  }


  .grid-image {
    height: 6em;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .list-image {
    height: 2em;
    width: 2em;
    object-fit: cover;
    border-radius: 0.25em;
  }
}