@import "./mixins.less";
@import '../../node_modules/react-tabs/style/react-tabs.less';


#react-taxa-garden-app {
  .text-drk-grn();

  .text-light-green {
    color: @med-green !important;
  }

  #img-main {
    max-width: 100%;
    height: auto;
  }
  .card {
  	border: none;
  }
  .slider-wrapper {
		max-height: 150px;
		overflow: hidden; 
  }
	.canned-results {
		max-width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.canned-search-result {
			flex-basis: 45%;
			
			color: #3B631D !important;
			text-align: center;
			border-radius: 2%;
			max-width: 15em;
			h4 {
				font-size: 1em;
			}
			.card {
				box-shadow: 0 0.1em 0.5em 0.1em rgba(100, 100, 100, 0.3);
			}

			.card:hover {
				//background: #DFEFD3 !important;
			}

			.card a:hover {
				//text-decoration: none;
			}

			.card-text {
				font-weight: bold;
				color: #1E352F !important;
				font-size: initial;
			}

			.scroll-btn {
				border-radius: 50%;
			}

			.scroll-btn:active {
				background: rgba(0, 100, 0, 0.1) !important;
			}

		}
	}
	.taxa-link {
		a {
			.btn-primary {
				padding: 0.3em 1.2em;
				line-height: 2em;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}

}
#react-taxa-app {
	.taxa-detail {
		position: relative;
	}
	h1{
		font-weight: 700;
		margin-bottom: .2rem;
	}
	h2{
		font-weight: 600;
	}
	h3{
		font-size: 1.4rem;
		color: @med-green;
	}
	.synonym {
		font-size: 1.35rem;
		color: @gray-type;
		padding-left: 2px;
	}
	.description-tabs{
		margin-top: 1em;
		.react-tabs__tab-list{
			margin-bottom: 0px;
			font-weight: 600;
			border-bottom: 2px solid @med-green;

			li{
				margin-bottom: -1px;
			}

			.react-tabs__tab{
				background-color: @med-green;
				color: white;
				border-top: 2px solid @med-green;
				border-bottom: 2px solid @med-green;
				border-left: 2px solid @med-green;
				border-right: 2px solid @med-green;
				margin-right: 0.5em;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				&.react-tabs__tab--selected{
					border-bottom: 2px solid @ivory;
					background-color: @ivory;
					color: black;

				}
			}
		}

		.react-tabs__tab-panel{
			background-color: @ivory;
			padding: 1.8em;
			border-width: 2px;
			border-left: @med-green 2px solid;
			border-right: @med-green 2px solid;
			border-bottom: @med-green 2px solid;

			.reference{
				font-style: italic;
				font-weight: bold;
			}
			.description {
				height: 250px;
				overflow-y: scroll;
			}
		}
	}

	.card {
		margin-right: 0px;
  	border: none;
	}

	.sidebar-section {
		font-size: 14px;
		font-weight: 400;

		h3 {
			font-size: 1.2rem;
			margin-bottom: 0.2em !important;
		}

		.related-sciname {
			font-size: 18px;
			line-height: 14px;
		}

		.related,
		.related-sciname,
		.related-nav,
		.col {
			padding-left: 0px;
			padding-right: 0px;
		}
		.related-nav {
			text-align: right;
		}
		.row {
			margin-left: 0px;
			margin-right: 0px;
			padding-top: .2rem !important;
			padding-bottom: .2rem !important;
		}
		.map-label {
			border-bottom: 1px dashed black;
			color: @gray-type;
			font-style: italic;
		}
		.map-link {
			cursor: pointer;
		}
		&.weblinks {

			li {
				padding-top: .2rem !important;
				padding-bottom: .2rem !important;

				a {
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}
	}

	.up-down-toggle {
		color: @med-green;
		text-align: center;
		font-size: 1.5em;
		padding: .3em 0;
	}

	.img-main-wrapper {
		max-height: 485px;
		overflow: hidden;
		img {
			/*width: 100%;*/
		}
	}
	ul.single-border-item {
		width: 100%;
		li {
			display: block;
		}
	}
	.related {
		.related-label {
			padding-right: 6px;
			text-transform: uppercase;
			font-size: .9em;
		}
		.related-links {
			.separator {
				padding: 0px 2px;
			}
		}
		.related-sciname {
			font-style: italic;
			font-weight: bold;
		}
		.fa-arrow-circle-up {
			transform: rotate(315deg);
			color: @med-green;
		}
		.fa-arrow-circle-down {
			transform: rotate(315deg);
			color: @med-green;
		}
	}
	.more-info {
		button img {
			padding-right: 3px;
		}

	}
	.fa-edit {
		color: @med-green;
	}
	.synonym-item {
		.synonym-sciname {
			font-style: italic;
		}
	}
	.reference {
		text-align: right;
		margin-bottom: 1rem;
	}
	.spp-wrapper {
		display: flex;
		flex-flow: row wrap;
		.card {
			flex-basis: 18%;
			margin-right: 2%;
			margin-bottom: 1em;
			box-shadow: 0px 2px 6px #00000054;
			a {
				padding: 8px;
			}
			h4 {
				font-size: .8em;
				font-style: italic;
				text-align: center;
				min-height: 30px;
			}
			.img-thumbnail {
				padding: 0 0 4px 0;
				border: none;
			}
		}
	}
	.taxa-chooser {
		.related {
			margin-bottom: 1em;
			.related-label {
				padding: 0px 8px;
				text-transform: none;
				font-weight: bold;
				font-size: 1rem;
			}
		}	
		
		.spp-wrapper {
			padding-top: 1em;
			.card {
				flex-basis: percentage(162/1140);

			}
		}
	}
}


#react-taxa-garden-app,
#react-taxa-app {
	//taxa slideshows on main and garden pages
	.taxa-slideshows {
		.slick-next, 
		.slick-prev {
			color: @med-green !important;
			font-size: 28px;
			top: 53%;
			text-align: center;
		}
		.slick-next {
			right: -35px;
		}
		.slick-prev {
			left: -35px;
		}
		.slick-slide {
			height: auto;
		}
		.slick-slider {
			max-width: 90%;
		}
	}
}