@import "./mixins.less";
@import "./search-results.less";

//Variable for project paths since relative paths not allowed
@subdir: "/portal";
//@subdir: "";

* {
  font-family: @font;
  min-width: 0;
  min-height: 0;
}

body {
  padding: 0;
  margin: 0;
}

.inner-content {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 20px;
}
button {
  background: none !important;
  outline: none !important;
  border: none !important;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

a {
  color: @type-primary !important;

  &:active {
    color: @dark-green !important;
  }
}

.btn {
  box-shadow: none !important;
  border: none !important;
}

.btn-primary {
  .btn();

  color: white !important;
  background-image: linear-gradient(#5FB021, #468019) !important;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 0.5em;
  padding: 0.3em 0.6em;
  text-align: left;
  line-height: 16px;

  &:active {
    color: @dark-green !important;
    opacity: 90%;
  }
  &.pdf {
  	&:before {
      position: relative;
      top: 0.1em;
      background-image: url('@{subdir}/images/pdf24.png');
      background-repeat: no-repeat;
      background-size: 16px 16px;
      display: inline-block;
      width: 20px;
      height: 16px;
      content:"";
    }
  }
}

.btn-secondary {
  .btn();

  .text-drk-grn();
  background: none !important;
  border: 2px solid @light-green !important;
  font-weight: bold;
  border-radius: 0.5em;
  cursor: pointer;

  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  &:active:enabled {
    background: @med-green !important;
    opacity: 90%;
  }
}

.btn-search {
  width: 2em;
  height: 2em;
  padding: 0.3em;
  margin-left: 0.5em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.75) !important;

  &:active {
    background: @med-green !important;
    opacity: 90%;
  }
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.navbar-toggler, .dropdown-menu {
  background-color: @med-green;
}

.dropdown-toggle {
  .border-rounded-sm();

  &::after {
    display: none;
  }
}

.dropdown-item {
  .text-drk-grn();
  .text-uppercase();
}

.dropdown-toggle, .header-button, .dropdown-item {
  &:hover, &:active, &.active {
    .dropdown-hover();
  }
}

.nav-link {
  color: white !important;

  &:hover {
    .text-drk-grn();
  }
}

.search-widget {
  input[type=text] {
    .border-rounded-med();
    border-color: transparent;
    box-shadow: none !important;

    &:focus, &:active {
      border-color: @med-green;
    }
  }
}

.dashed-border {
  border-top: 1px dashed black;
}

.help-button {
  float: right;
  padding: 0;
  margin-left: auto;
  border-radius: 50%;
  background: #5FB021 !important;
}
/*
.text-sentence {
	&:first-letter {
		text-transform: uppercase;
	}
}
*/

.page-header {

  #titlebackground {
    background-color: darkgreen;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &.title-leaf {
      background-image: url("@{subdir}/images/header/h1leaf.png");
    }

    &.title-redberry {
      background-image: url("@{subdir}/images/header/h1redberry.png");
    }

    &.title-blueberry {
      background-image: url("@{subdir}/images/header/h1blueberry.png");
    }
    
    &.explore {
      background-image: url("@{subdir}/images/inventory/explore_subhead.jpg");
    }
  }
  .crumbs {
  	padding-left: 150px;
  	padding-top: 6px;
  	a, span {
	  	color: white !important;
	  	font-size: .8rem;
	  }
  }

  .h1, h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding: 45px 0 20px 0;
  }

}

div#info-page {
  padding-bottom: 20px;

  #titlebackground {
    background-color: darkgreen;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &.title-leaf {
      background-image: url("@{subdir}/images/header/h1leaf.png");
    }

    &.title-redberry {
      background-image: url("@{subdir}/images/header/h1redberry.png");
    }

    &.title-blueberry {
      background-image: url("@{subdir}/images/header/h1blueberry.png");
    }
  }

  .h1, h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding: 45px 0 20px 0;
    @media (min-width: 544px) {
      font-size: 60px;
    }
  }

  .h2, h2 {
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;

    .subhead {
      font-size: 36px;
      margin-bottom: 2rem;
    }
  }

  .h3, h3 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    padding-inline-start: 20px;
  }

  p,
  li {
    font-size: 22px;
  }

  .figure-caption {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.2;
  }

  a {
    text-decoration: underline;
  }

  span.link-details {
    display: block;
    font-size: 0.9em;
    font-style: italic;
    padding-left: 1em;
  }

  .store-item {
    border: 1px dashed #707070;
    border-radius: 8px;
    margin-top: 2em;

    .store-item-info {
      padding: 25px 40px;
    }

    .store-item-title {
      font-weight: bold;
      font-size: 36px;
    }

    .store-item-subtitle {
      margin-top: -18px;
      font-weight: bold;
      font-size: 25px;
    }

    .store-item-pic {
      padding: 20px 25px;

      img {
        width: 100%;
        max-width: 350px;
      }
    }

    .store-item-purchase {
      background-color: #DFEFD3;
      min-height: 82px;
      padding: 18px 0;

      div, p {
        margin-bottom: 0;
        display: inline-table;
        vertical-align: center;
      }

      .store-item-price p {
        font-size: 28px;
        padding-left: 30px;
      }

      .store-item-link {
        float: right;
        padding: 0 30px;

        .btn {
          text-decoration: none;
          font-weight: normal;
          font-size: 18px;
        }

        img {
          padding-left: 10px;
          background-color: #DFEFD3;
          border-radius: 6px;
        }
      }
    }
  }

  #tutorials-content {
    p {
      font-size: 26px;
    }

    .tutorial-list {
      padding: 15px;
      background-color: @light-green;

      p, li {
        font-size: 22px;
        line-height: 22px;
      }
    }

    .tutorials-video,
    .tutorials-text {

      h2 {
        font-size: 48px;
        line-height: 48px;
      }

      p, li {
        font-size: 22px;
      }
    }

    .tutorials-video-card,
    .tutorials-text-card {
      border-radius: 8px;
      border: 1px dashed black;
      margin: 15px;

      h3 {
        font-size: 32px;
        line-height: 32px;
      }

      .video-image {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: @light-green;
        padding: 30px;
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .tutorials-text-card {
      margin: 0;
      padding: 15px;
      .figure {
        float: right;
        width: 300px;
      }
    }
  }

  .news-events-content{
    margin-top: -8px;
    margin-bottom: -1.2rem;

    .news-col{
      padding-right: 2em;

      p {
        font-size: 22px;
      }

      .news-item {
        margin: 1em 0;
        padding-bottom: 1em;
        border-bottom: 1px dashed black;

        &:last-child{
          border-bottom:none;
        }

        .news-figure {
          width: 300px;
          float: right;
          margin: 0 0 15px 15px;
        }

        .news-byline {
          font-style: italic;
        }
      }
    }

    .events-col{
      background-color: @light-green;
      padding: 1em 2em;

      .event-item{
        border: black 1px dashed;
        border-radius: 8px;
        margin: 2em 0;

        h3 {
          font-size: 22px;
          line-height: 22px;
          font-weight: bold;
          color: @dark-green;
          margin: 0;
          padding: 12px;
        }

        p {
          font-size: 22px;
          line-height: 22px;
        }

        .event-content {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          background-color: white;
          margin: 0;
          padding: 15px;
          p:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

#react-home-app {
	.btn-search {
		width: 3em;
		height: 3em;
	}
  .wrapper {
    background-color: darkgreen;
    background-image: url("@{subdir}/images/home.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: white;

    .container.home {

      .slick-next,
      .slick-prev {
        &:before {
          color: white !important;
        }
      }
      .slick-slider {
      }

      .slick-slide {
        height: auto;
        margin-bottom: 50px;
        padding: 0 20px;

        .btn {
          padding: 10px;
        }

        .slide-1 {
          margin: 0;

          .slide-col-1 {
            padding: 35px 0 0 0;

            h1 {
              font-size: 2.7rem;
              font-weight: bold;
            }

            h3 {
              margin: 20px 0 10px 0;
            }

            input {
              display: inline;
              width: 65%;
              max-width: 400px;
              font-size: 1.8em;
              border: 3px solid @med-green;
              color: @med-green;
              &::placeholder {
              	color: @med-green;
              }
            }

            .search-explain {
              font-size: 1.1rem;
              line-height: 1.1rem;
              margin: 15px 0 35px 0;
            }

            .btn-search {
              margin-top: 4px;
            }
          }

          .slide-col-2 {
            padding-top: 10px;

            .link-card {
              background: #000000A6 0% 0% no-repeat padding-box;
              border-radius: 8px;
              opacity: 1;
              padding: 15px 10px;
              margin: 10px;

              img {
                width: 84px;
                height: 84px;
                float: left;
                margin-right: 15px;
                border: #888 1px solid;
                border-radius: 4px;
                padding: 4px;
              }

              p.link-text {
                display: inline-block;
                font-size: 1.3em;
                line-height: 1.3em;
                margin-bottom: 5px;

                a {
                  color: white !important;
                  text-decoration: underline;
                }
              }

              p.link-desc {
                clear: both;
                margin-bottom: 0px;
                line-height: 1rem;
              }
            }
          }
        }

        .slide-2 {
          margin: 0;

          .row {
            margin: 0;
          }

          .slide-col-1 {
            padding: 35px 20px 0 0;

            h1 {
              font-size: 2.7rem;
              font-weight: bold;
            }

            p {
              font-size: 1.1rem;
            }
          }

          .slide-col-2 {
            padding: 35px 0 0 20px;
          }

          .video-card {
            background: #000000A6 0% 0% no-repeat padding-box;
            border-radius: 8px;
            padding: 5px;
            margin-bottom: 15px;

            .video-img {
              padding: 0 5px 0 0;
              img {
                width: 150px;
                height: 90px;
              }
            }

            .video-text {
              border-left: 1px dotted #fff;
              padding: 0 0 0 1em;
              h3 {
                font-size: 1.1em;
                line-height: 1.1em;
                font-weight: bold;
              }

              p {
                font-size: 0.9em;
                margin-bottom: 0;
              }
            }
          }

        }

        .slide-3 {
          margin: 0;
          padding: 35px 0 0 0;

          h1 {
            font-size: 2.7rem;
            font-weight: bold;
            margin-bottom: 15px;
          }

          .row {
            margin: 0;
          }

          .slide-col-1 {
            background: #000000A6 0% 0% no-repeat padding-box;
            border-radius: 8px;
            opacity: 1;
            padding: 20px;

            .row {
              border-top: 1px #fff dotted;
              padding-top: 1em;

              h2 {
                font-size: 1.4em;
                font-weight: bold;
              }

              a {
                color: @med-green !important;
                text-transform: uppercase;
              }
            }

            .row:first-child {
              border-top: none;
              padding-top: 0;
            }
          }

          .slide-col-2 {

            .row{
              margin-bottom: 15px;

              .event-date {
                padding: 10px;
                background-color: #EFFFE3;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                color: @dark-gray;
              }
              .event-desc {
                padding: 10px;
                background: #000000A6 0% 0% no-repeat padding-box;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
              }
            }
          }
        }
      }
    }

    ul.slick-dots {
      bottom: 25px;

      li {
        width: 15px;
        height: 15px;

        button {

          &:before {
            color: white;
            opacity: 1;
            font-size: 10px;
          }
        }

        &.slick-active {
          button:before {
            color: lightgreen;
          }
        }
      }
    }
  }
}
#react-newsletters-app {
	
	.issue-item {
		clear: both;
		border-top: 1px dotted @dark-gray;
		&:last-child {
			border-bottom: 1px dotted @dark-gray;
		}

		.issue-header {
			background-color: @light-green;
			padding: 0.2em 0.5em 0.5em 0.5em;
			margin-left: 0;
			margin-right: 0;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			.issue-link {
				flex-basis: 5%;
			}
			.issue-title {
				text-align: left;
				flex-basis: 80%;
				h3 {
					display: inline-block;
					font-size: 1.5em;
					font-weight: 600;
					padding: 0;
					margin-bottom: 0;
				}
			}			
			.more-less {
				flex-basis: 15%;
				font-size: 14px;
				color: @med-green;
				text-transform: uppercase;
				margin-top: 0.3em;
				margin-right: 15px;
				text-align: right;
				cursor: pointer;
			}
		}
	}
}


