@import "./mixins.less";
@import "./search-results.less";

//Variable for project paths since relative paths not allowed
@subdir: "/portal";
//@subdir: "";


* {
  font-family: @font;
  min-width: 0;
  min-height: 0;
}

body {
  padding: 0;
  margin: 0;
}

button {
  background: none !important;
  outline: none !important;
  border: none !important;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

a {
  color: @type-primary !important;

  &:active {
    color: @dark-green !important;
  }
}

.btn {
  box-shadow: none !important;
  border: none !important;
}

.btn-primary {
  .btn();

  color: white !important;
  background-image: linear-gradient(#5FB021, #468019) !important;
  font-weight: bold;
  border: none;
  border-radius: 0.5em;

  &:active {
    color: @dark-green !important;
    opacity: 90%;
  }
}

.btn-secondary {
  .btn();

  .text-drk-grn();
  background: none !important;
  border: 2px solid @light-green !important;
  font-weight: bold;
  border-radius: 0.5em;
  cursor: pointer;

  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  &:active:enabled {
    background: @med-green !important;
    opacity: 90%;
  }
}

.btn-search {
  width: 2em;
  height: 2em;
  padding: 0.3em;
  margin-left: 0.5em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.75) !important;

  &:active {
    background: @med-green !important;
    opacity: 90%;
  }
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.navbar-toggler, .dropdown-menu {
  background-color: @med-green;
}

.dropdown-toggle {
  .border-rounded-sm();

  &::after {
    display: none;
  }
}

.dropdown-item {
  .text-drk-grn();
  .text-uppercase();
}

.dropdown-toggle, .header-button, .dropdown-item {
  &:hover, &:active, &.active {
    .dropdown-hover();
  }
}

.nav-link {
  color: white !important;

  &:hover {
    .text-drk-grn();
  }
}

.search-widget {
  input[type=text] {
    .border-rounded-med();
    border-color: transparent;
    box-shadow: none !important;

    &:focus, &:active {
      border-color: @med-green;
    }
  }
}

.dashed-border {
  border-top: 1px dashed black;
}

.help-button {
  float: right;
  padding: 0;
  margin-left: auto;
  border-radius: 50%;
  background: #5FB021 !important;
}
/*
.text-sentence {
	&:first-letter {
		text-transform: uppercase;
	}
}
*/
div#info-page {
  padding-bottom: 20px;

  #titlebackground {
    background-color: darkgreen;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &.title-leaf {
      background-image: url("@{subdir}/images/header/h1leaf.png");
    }

    &.title-redberry {
      background-image: url("@{subdir}/images/header/h1redberry.png");
    }

    &.title-blueberry {
      background-image: url("@{subdir}/images/header/h1blueberry.png");
    }
  }

  .h1, h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding: 45px 0 20px 0;
  }

  .h2, h2 {
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;

    .subhead {
      font-size: 36px;
      margin-bottom: 2rem;
    }
  }

  .h3, h3 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    padding-inline-start: 20px;
  }

  p,
  li {
    font-size: 22px;
  }

  .figure-caption {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.2;
  }

  a {
    text-decoration: underline;
  }

  span.link-details {
    display: block;
    font-size: 0.9em;
    font-style: italic;
    padding-left: 1em;
  }

  .store-item {
    border: 1px dashed #707070;
    border-radius: 8px;
    margin-top: 2em;

    .store-item-info {
      padding: 25px 40px;
    }

    .store-item-title {
      font-weight: bold;
      font-size: 36px;
    }

    .store-item-subtitle {
      margin-top: -18px;
      font-weight: bold;
      font-size: 25px;
    }

    .store-item-pic{
      padding: 20px 25px;
      img{
        width: 100%;
        max-width: 350px;
      }
    }
    .store-item-purchase {
      background-color: #DFEFD3;
      min-height: 82px;
      padding: 18px 0;

      div, p{
        margin-bottom: 0;
        display: inline-table;
        vertical-align: center;
      }

      .store-item-price p{
        font-size: 28px;
        padding-left: 30px;
      }

      .store-item-link {
        float: right;
        padding: 0 30px;

        .btn {
          text-decoration: none;
          font-weight: normal;
          font-size: 18px;
        }

        img{
          padding-left: 10px;
          background-color: #DFEFD3;
          border-radius: 6px;
        }
      }
    }
  }
}
